{template 'common/header'}
<script>
  
  
    
</script>
<ul class="nav nav-tabs">
	<li class="active"><a href="{php echo $this->createWebUrl('list')}">申请列表</a></li>
</ul>
<div class="main">
    
  
		<div class="panel panel-default">
			<div class="panel-heading">
				申请列表
			</div>
			<div class="panel-body">
                              <form class="form-horizontal form" id="form2" action="{php echo $this->createWebUrl('refreshKefu')}" method="post">
                              
                              </form>

				<table class="table table-hover"  style="width:100%;z-index:-10;" cellspacing="0" cellpadding="0">
					<thead class="navbar-inner">
						<tr>
							<th style="width:90px;">商户名称</th>
							<th style="width:50px;">电话</th>
							<th style="width:50px;">地址</th>
							<th style="width:30px;">状态</th>
							<th style="width:80px;">申请时间</th>
							<th style="width:80px;">原因</th>
							<th style="width:60px;">操作</th>
						</tr>
					</thead>
					{loop $list $value}
					<tr>
						<td>{$value[name]}</td>
						<td>
							{$value[tel]}
						</td>
						<td>{$value[address]}</td>
						<td>{if $value[status]==1}审核通过{else}未处理{/if}</td>
						<td>
							{php echo date("Y-m-d H:i:s",$value[create_time])}
						</td>
						<td>{$value[content]}</td>
						<td>
							<a href="{php echo $this->createWebUrl('regcontent',array('id'=>$value[id]))}">详细</a>
							|<a href="{php echo $this->createWebUrl('checkreg',array('id'=>$value[id],'status'=>1))}" onclick="return confirm('确认增加商铺？')">同意</a>
							|<a href="{php echo $this->createWebUrl('checkreg',array('id'=>$value[id],'status'=>2))}" onclick="return confirm('确认是否删除？')">拒绝</a>
						</td>
					</tr>
					{/loop}
				</table>
				{loop $column $value}
					
					<div class="col-sm-1">
						
					</div>
				{/loop}
				
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input name="token" type="hidden" value="{$_W['token']}" />
		
		</div>
	
</div>
{template 'common/footer'}