{template 'common/header'}

<div class="main">
	<ul class="nav nav-tabs">
	</ul>
	<link href="../addons/water_super/template/css/style.css" rel="stylesheet">	
	<div class="metro-nav">
                    <div class="metro-nav-block nav-block-orange">
                        <a data-original-title="" href="#">
                            <i class="icon-user"></i>
                            <div class="info">{$toadyAddMember}</div>
                            <div class="status">今日新增用户</div>
                        </a>
                    </div>
                    <div class="metro-nav-block nav-olive">
                        <a data-original-title="" href="#">
                            <i class="icon-tags"></i>
                            <div class="info">{$memberSum}</div>
                            <div class="status">总用户量</div>
                        </a>
                    </div>
                    <div class="metro-nav-block nav-block-yellow">
                        <a data-original-title="" href="#">
                            <i class="icon-comments-alt"></i>
                            <div class="info">{$toadyAddOrder}</div>
                            <div class="status">今日新增订单</div>
                        </a>
                    </div>
                    <div class="metro-nav-block nav-block-green">
                        <a data-original-title="" href="#">
                            <i class="icon-eye-open"></i>
                            <div class="info">{$allorderSum}</div>
                            <div class="status">总订单数</div>
                        </a>
                    </div>
                    <div class="metro-nav-block nav-block-red">
                        <a data-original-title="" href="#">
                            <i class="icon-bar-chart"></i>
                            <div class="info">{$allPaySum}</div>
                            <div class="status">累计进账</div>
                        </a>
                    </div>
                </div>



{template 'common/footer'}
