{template 'common/header'}
<style type="text/css">
table li{padding:5px 0;}
small a{color:#999;}
</style>
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('display')}">调研活动列表</a></li>
	<li><a href="{php echo $this->createWebUrl('post')}">新建调研活动</a></li>
	<li class="active"><a href="{php echo $this->createWebUrl('detail', array('id' => $row['sid']))}">调研记录详情</a></li>
</ul>
<div class="main">
       <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
        <div class="panel panel-default">
            <div class="panel-heading">
                调研活动信息
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">调研标题</label>
                    <div class="col-sm-9 col-xs-12">
                       <p class="form-control-static">{$activity['title']}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">调研活动说明</label>
                    <div class="col-sm-9 col-xs-12">
						<p class="form-control-static"> {$activity['description']}</p>
                    </div>
                </div>
                    <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">提交提示信息</label>
                    <div class="col-sm-9">
						<p class="form-control-static">{$activity['information']}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">图片介绍</label>
                    <div class="col-sm-9 col-xs-12">
						<p class="form-control-static"><img src="{$_W['attachurl']}{$activity['thumb']}" style="height:150px;" /></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">创建时间</label>
                    <div class="col-sm-9 col-xs-12">
						<p class="form-control-static">{php echo date('Y-m-d H:i:s', $activity['createtime']);}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">开始时间~结束时间</label>
                    <div class="col-sm-9 col-xs-12">
						<p class="form-control-static">{php echo date('Y-m-d H:i:s', $activity['starttime']);}~{php echo date('Y-m-d H:i:s', $activity['endtime']);}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
                    <div class="col-sm-9 col-xs-12">
                    	<label>
							<p class="form-control-static">
							{if $activity['status'] == '1'}
								<i class="fa fa-check"> &nbsp; 当前调研活动生效中</i>
							{else}
								<i class=fa fa-check-empty"> &nbsp; 当前调研活动已失效</i>
							{/if}
							</p>
						</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启提交建议</label>
                    <div class="col-sm-9 col-xs-12">
                    <label>
						<p class="form-control-static">
						{if $activity['suggest_status'] == '1'}
							<i class="fa fa-check"> &nbsp; 已开启提交建议</i>
						{else}
							<i class="fa fa-check-empty"> &nbsp; 未开启提交意见</i>
						{/if}
						</p>
					</label>
                </div>
                </div>
                   <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">微站首页展示</label>
                    <div class="col-sm-9 col-xs-12">
                  		<label>
							<p class="form-control-static">
							{if $activity['inhome'] == '1'}
								<i class="icon-check"> &nbsp; 当前调研活动将展示在微站首页上</i>
							{else}
								<i class="icon-check-empty"> &nbsp; 当前调研活动不显示在微站首页</i>
							{/if}
							</p>
						</label>
                    </div>
                   </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                用户提交的信息
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">用户</label>
                    <div class="col-sm-9 col-xs-12">
						<p class="form-control-static">{$row['openid']}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">真实姓名</label>
                    <div class="col-sm-9 col-xs-12">
						<p class="form-control-static">{if $row['realname']!=""} {$row['realname']}{else}未完善{/if}</p>
                    </div>
                </div>
               <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">手机号</label>
                    <div class="col-sm-9 col-xs-12">
						<p class="form-control-static">{if $row['mobile']!=""} {$row['mobile']}{else}未完善{/if}</p>
                    </div>
               </div>
               <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">用户提交时间</label>
                    <div class="col-sm-9 col-xs-12">
						<p class="form-control-static">{php echo date('Y-m-d H:i:s', $row['createtime']);}</p>
                    </div>
                </div>
                {loop $ds $fid $ftitle}
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">{$ftitle['fid']}</label>
                    <div class="col-sm-9 col-xs-12">
						<p class="form-control-static">{if $ftitle['type'] == 'image'}<a target="_blank" href="{$_W['attachurl']}{$row['fields'][$fid]}">点击查看{$ftitle['fid']}</a>{else}{$row['fields'][$fid]}{/if}</p>
                    </div>
                </div>
                {/loop}
                {if $activity['suggest_status']=="1"}
                    <div class="form-group">
                    	<label class="col-xs-12 col-sm-3 col-md-2 control-label">意见和建议</label>
                    	<div class="col-sm-9 col-xs-12">
							<p class="form-control-static">{if $row['suggest']!=""}{$row['suggest']}{else}未填写{/if}</p>
                    	</div>
                </div>
                {/if}
                
            </div>
        </div>
       </form>
</div>
<div class="form-group col-sm-12">
	<input type="submit" class="btn btn-primary col-lg-1" name="submit" onclick="history.go(-1)" value="返回" />
</div>
{template 'common/footer'}
