{template 'common/header'}
<ul class="nav nav-tabs">
	<li><a href="{php echo $curr_url.'&op=post';}">添加景区</a></li>
    <li class="active"><a href="{php echo $curr_url.'&op=list';}">景区管理</a></li>
</ul>
	<div class="main">
		<div class="category">
 			<table class="table table-hover">
				<thead>
					<tr>
						<th style="width:10px;"></th>
						<th style="width:200px;">景区名称</th>						
						<th style="width:400px;">景区描述</th>
						<th style="width:120px;">显示顺序</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				{loop $list $v} 
                  <tr>
						<td></td>				
						<td>{$v['title']}</td>
						<td>{$v['jianjie']}</td>
                        <td>{$v['sort']}</td>
						<td><a href="{php echo $curr_url.'&op=post&id='.$v['id'];}">编辑</a>&nbsp;&nbsp;
						<a href="{php echo $curr_url.'&op=delete&id='.$v['id'];}" onclick="return confirm('确认删除？');return false;">删除</a>&nbsp;&nbsp;
					</td>
					</tr>
				{/loop} 
					<tr>
                    	<td></td>
						<td><a href="{php echo $curr_url.'&op=post';}"><i class="icon-plus-sign-alt"></i> 添加景区</a></td>
						<td colspan="7">
							{$pages}
						</td>
					</tr>
 					
				</tbody>
			</table>
 		</div>
    </div>
{template 'common/footer'}