@media (max-width: 991px){
.login-form {
width:100% !important;
}}
@media (min-width: 1500px){
.hidden-blg{
	display:none !important;
	}
}
body{height:100%; background:url(./bg.gif) center 0 no-repeat;font-family: "Microsoft YaHei";}
.login-width{ width:400px;}
.login-form{ width:75%; float:left}

