@charset "utf-8";
.wrapBg{background: url(../images/Valentine_3V1.0.jpg) no-repeat center;}
.avatar{border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;}
.contIcon{background: url(../images/defaultConIconsV1.0.png) no-repeat;}
.theResult{background: url(../images/ValentineResult_3V1.0.png) no-repeat center 1px;}
.pairPerson{background-image: url(../images/defaultPairV1.0.png);}

.colorStyle{color: #fff!important;}
.colorOne{color: #fff!important;}

.borderStyle .play{border-color: rgba(255, 255, 255, 0.35);}
.borderStyle .animation .play{border-color: #fff;}
.borderStyle li{border-color: rgba(255, 255, 255, 0.8);}
.borderStyle .msgFor{border-bottom-color:  rgba(255, 255, 255, 0.7);}

.btnStyle{color: #fff; border-color: rgba(66, 7, 119, 0.8); background: #6f11c2; box-shadow: 0 2px 2px 0 rgba(132, 56, 199, 0.84) inset; -weibit-box-shadow: 0 2px 2px 0 rgba(132, 56, 199, 0.84) inset; -moz-box-shadow: 0 2px 2px 0 rgba(132, 56, 199, 0.84) inset;}

.menuStyle a{border-color: rgba(255, 255, 255, 0.35); background: url(../images/defaultIconsV1.0.png) no-repeat;}
#yyy {background: url(../images/icons8e0e.png) no-repeat !important;background-position: -2px -82px !important;}