<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>在线预订</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <link href="{MON_ORDER_RES}css/hotels.css" rel="stylesheet" type="text/css">
    <script src="{MON_ORDER_RES}js/jquery.min.js" type="text/javascript"></script>
    <script src="{MON_ORDER_RES}js/tel.js" type="text/javascript"></script>
</head>
<body id="hotelsmore">
<div class="qiandaobanner"><img src="{php echo MonUtil::getpicurl($form['p_title_pg'])}"></div>
<div class="cardexplain">
    <ul class="round">
        <li class="title"><span class="none">商家详情</span></li>
        <li>
            <div class="text">
                {$form['p_desc']}

            </div>
        </li>
    </ul>
    <!--连锁店-->
    <!--<ul class="round">-->
        <!--<li><a href="index.php?g=Wap&m=Host&a=index&token=yicms&hid=5&wecha_id=oLA6VjmhwPYuBkeE9NLuBhTAl_-k"><span>pigcms豪华大酒店</span></a>-->
        <!--</li>-->
        <!--<li><a href="index.php?g=Wap&m=Host&a=index&token=yicms&hid=6&wecha_id=oLA6VjmhwPYuBkeE9NLuBhTAl_-k"><span>pigcms全国连锁酒店管理有限公司</span></a>-->
        <!--</li>-->
    <!--</ul>-->
</div>

</body>
</html>