{template 'common/header'}
{template 'common'}

<ul class="nav nav-tabs">
	<li {if $op == 'display'} class="active" {/if}><a href="{php echo $this->createWebUrl('topic',array('op' =>'display'))}">话题 </a></li>
	<li{if empty($topic['tid']) && $op == 'post'} class="active" {/if}><a href="{php echo $this->createWebUrl('topic',array('op' =>'post'))}">添加话题</a></li>
	{if !empty($topic['tid']) && $op== 'post'} <li class="active"><a href="{php echo $this->createWebUrl('topic',array('op' =>'post','tid'=>$topic['tid']))}">编辑话题</a></li> {/if}
</ul>

{if $op == 'display'}
<div class="main panel panel-default">
	<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:50px;">话题编号</th>
					<th style="width:50px;">热度</th>
					<th style="width:200px;">话题</th>
					<th style="width:100px;">发起人</th>
					<th style="width:100px;">发起人头像</th>
					<th style="width:120px;">点赞的人</th>
					<th style="width:150px;">发起时间</th>
					<th style="width:100px;">评论人数</th>
					<th style="width:150px;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $list $item}
				<tr>
					<td>{$item['tid']}</td>
					<td>{$item['hot']}</td>
					<td>{$item['title']}</td>
					<td>{$item['nickname']}</td>
					<td><img src="{php echo tomedia($item[avatar])}" width="80px"/></td>
					
					<td>{$item['zan']}</td>
					<td>{php echo date('Y-m-d H:i:s',$item['createtime'])}</td>
					<td>{$item['joinnum']}</td>
					<td style="text-align:left;">
						<a href="{php echo $this->createWebUrl('topic', array('op' => 'post', 'tid' => $item['tid']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="修改"><i class="fa fa-pencil"></i></a>
						<a href="{php echo $this->createWebUrl('topic', array('op' => 'delete', 'tid' => $item['tid']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-times"></i></a>
						<a href="{php echo $this->createWebUrl('comment', array('tid' => $item['tid']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="评论"><i class="fa fa-bullhorn"></i></a>
				</td>
				</tr>
				{/loop}
				
			</tbody>

              
		</table>
		{$pager}
		
	</div>
</div>

<script>
	require(['bootstrap'],function($){
		$('.btn').hover(function(){
			$(this).tooltip('show');
		},function(){
			$(this).tooltip('hide');
		});
	});
</script>

{elseif $op == 'post'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit='return formcheck()'>
		<input type="hidden" name="tid" value="{$topic['tid']}" />
		<div class="panel panel-default">
			<div class="panel-heading">
				话题设置
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">热度</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id='hot' name="hot" class="form-control" value="{$topic['hot']}" />
					</div>
				</div>
	
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:topic">*</span>话题</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id='rname' name="title" class="form-control" value="{$topic['title']}" />
						<span class="help-block">#myuser#替换粉丝昵称</span>
					</div>
				</div>
	<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">话题图片</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_image('pic', $topic['pic'])}
						<span class="help-block">#myavatar#替换粉丝头像</span>
					</div>
				</div>

			<div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">发起人昵称</label>
                  <div class="col-sm-9 col-xs-12">
						<input type="text" id='nickname' name="nickname" class="form-control" value="{$topic['nickname']}" />
						<span class="help-block">#myuser#替换粉丝昵称</span>
					</div>                
                </div>
              	<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">发起人头像</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_image('avatar', $topic['avatar'])}
						<span class="help-block">#myavatar#替换粉丝头像</span>
					</div>
				</div>  
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">点赞的人</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id='zan' name="zan" class="form-control" value="{$topic['zan']}" />
						<span class="help-block">#myuser#替换粉丝昵称</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">评论人数</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id='joinnum' name="joinnum" class="form-control" value="{$topic['joinnum']}" />
					</div>
				</div>

                
		</div>
	</div>
	<div class="form-group col-sm-12">
		<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" onclick="return formcheck()" />
		<input type="hidden" name="token" value="{$_W['token']}" />
	</div>
	</form>
</div>

<script language='javascript'>
	function formcheck() {
		if ($("#rname").isEmpty()) {
			Tip.focus("rname", "请填写话题!", "top");
			return false;
		}
		return true;
	}
	$(function() {
		$("#common_corp").change(function() {
			var obj = $(this);
			var sel = obj.find("option:selected");
			$("#topic_name").val(sel.attr("data-name"));
			$("#topic_url").val(sel.attr("data-url"));
		});
	})
</script>

{/if}

{template 'common/footer'}