body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;color: #444444;
	
}
input, button, select, textarea {
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
}
ol, ul {list-style:none;}
u, i {font-size:12px; font-weight:normal; font-style:normal;}
table {border-collapse:collapse; border-spacing:0px;}
fieldset,img {border:0;}
html {width:100%; height:100%;}
body{width:100%; height:100%; color:#000;background:#f2772d;font:12px Verdana,Arial,sans-serif,"Times New Roman",'微软雅黑';}

#inner {
	cursor: pointer;
    height: 110px;
    margin: 0 auto;
    max-width: 90px;
    width: 90px;
}
#outer img, #inner img {
	display: block;
	margin: 0 auto;
}
.cover{
	width: 320px;
	max-width: 480px;
	margin: 0 auto;
	position: relative;
}
.cover img{
	width: 320px;
}

.btn-cont{
	position: absolute;
	bottom: 3px;
	right: 3px;
	display: none;
}
.content {
	margin:0px 0 15px 0;
}
.banner {
	text-align:center;
}
.main img {
	max-width: 100%;
	border: 0 none;
}
.boxcontent {
	margin:15px 15px 0;
	border-radius: 5px;
	padding: 2px;
	background-color: #FEF8B2;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.boxyellow{
	background-color: #FEF8B2;
}
.boxwhite{
	background-color: #ffffff;
}
.box {
	border-radius: 5px;
	font-size:14px;
	border: 1px dashed rgba(0, 0, 0, 0.3);
}
.box .title-red {
	padding: 0 5px 0px 10px;
	background:url(../images/title-bg-red.png) no-repeat 0 0;
	border-radius: 3px 3px 3px 0;
	color:#ffffff;
	height:22px;
	margin:-1px;
	/*-moz-text-shadow:0 1px 0 #8d0001;-webkit-text-shadow:0 1px 0 #8d0001;text-shadow:0 1px 0 #8d0001;
	text-shadow:0px 1px 0 #8d0001;*/
}
.box .title-orange {
	padding: 0 5px 0px 10px;
	background:url(../images/title-bg-orange.png) no-repeat 0 0;
	border-radius: 3px 3px 3px 0;
	color:#ffffff;
	height:22px;
	margin:-1px;
	/*-moz-text-shadow:0 1px 0 #8d0001;-webkit-text-shadow:0 1px 0 #8d0001;text-shadow:0 1px 0 #8d0001;
	text-shadow:0px 1px 0 #8d0001;*/
}
.box .title-green {
	padding: 0 5px 0px 10px;
	background:url(../images/title-bg-green.png) no-repeat 0 0;
	border-radius: 3px 3px 3px 0;
	color:#ffffff;
	height:22px;
	margin:-1px;
	/*-moz-text-shadow:0 1px 0 #8d0001;-webkit-text-shadow:0 1px 0 #8d0001;text-shadow:0 1px 0 #8d0001;
	text-shadow:0px 1px 0 #8d0001;*/
}
.box .title-brown {
	padding: 0 5px 0px 10px;
	background:url(../images/title-bg-brown.png) no-repeat 0 0;
	border-radius: 3px 3px 3px 0;
	color:#ffffff;
	height:22px;
	margin:-1px;
	/*-moz-text-shadow:0 1px 0 #8d0001;-webkit-text-shadow:0 1px 0 #8d0001;text-shadow:0 1px 0 #8d0001;
	text-shadow:0px 1px 0 #8d0001;*/
}
.box .Detail {
	padding: 15px;
}
.Detail img {
	height: auto;
	max-width: 100%;
	border: 0 none;
}
.red {
	color:red
}
.px {
	margin: 0.5em 0;
	position: relative;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) inset;
	background-color: #FFFFFF;
	border-radius: 0.6em 0.6em 0.6em 0.6em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	color: #333333;
	text-shadow: 0 1px 0 #FFFFFF;
	display: block;
	width: 100%;
	padding:6px 10px;
	font-size: 18px;
	margin:10px 0 0 0;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-appearance:none;
}
.px:hover {
	border: 1px solid #ff6501;
}
.px:focus {
	border: 1px solid #ff6501;
	box-shadow: 0 0 5px #ff6501;
}
.px[type="text"] {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
.px[type="tel"] {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
.px[type="password"] {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

input::-moz-placeholder, textarea::-moz-placeholder { color: #999;}


.wx {
margin: 10px 0;
}
.boxs {
position: relative;
}
.wx .b {
padding: 10px 15px 10px 15px;
background: RGB(255,219,135);
font-size: 14px;
}
.boxs .b {
border-radius: 5px;
margin: 0px 15px;
}



/*清除浮动*/
.clearfix:after {content:".";display:block;height:0;clear:both; visibility:hidden;}

a{ text-decoration:none;}
a:hover{ text-decoration:underline; color:#000000}
A:link{text-decoration:none} 
.clearfix {display:block;}


.reg .content {

overflow:auto;
padding:10px;
background: linear-gradient(#FBFBFB, #EEEEEE) repeat scroll 0 0 #FFF9DF;
color: #222222;
text-shadow: 0 1px 0 #FFFFFF;
border-radius: 0 0 0.6em 0.6em;
-webkit-border-radius: 0 0 0.6em 0.6em;
-moz-border-radius: 0 0 0.6em 0.6em;
}

.reg #txt {
min-height:30px;text-align: center;
font-size:14px;
line-height:20px;
}

.reg .content p {
margin:10px 0 0 0;
}

.reg .txtbtn {
color: #666666;
font-weight: bold;
text-shadow: 0 1px 0 #FFFFFF;
display: block;
width: 95%;
text-overflow: ellipsis;
white-space: nowrap;
cursor: pointer;
text-align: center;
font-weight: bold;
font-size: 16px;
padding:5px;
margin:10px 0 0 0;
background-color:#F4F4F4;
border:1px solid #C6C6C6;
background-image: linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%);
background-image: -o-linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%);
background-image: -moz-linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%);
background-image: -webkit-linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%);
background-image: -ms-linear-gradient(bottom, #E1E1E1 0%, #ffffff 100%);
background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, #E1E1E1),  color-stop(1, #ffffff)  );
-webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;
-moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;
box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 0 #EEEEEE;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
}

.reg .txtbtn:visited {
background-image: linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%);
background-image: -o-linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%);
background-image: -moz-linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%);
background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%);
background-image: -ms-linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%);
background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, #ffffff),  color-stop(1, #E1E1E1)  );
}

.reg .txtbtn:active {
background-image: linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%);
background-image: -o-linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%);
background-image: -moz-linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%);
background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%);
background-image: -ms-linear-gradient(bottom, #ffffff 0%, #E1E1E1 100%);
background-image: -webkit-gradient(  linear,  left bottom,  left top,  color-stop(0, #ffffff),  color-stop(1, #E1E1E1)  );
}

#mcover{ position: fixed;	top:0;	left:0;	width:100%;	height:100%;background:rgba(0, 0, 0, 0.7);	display:none;z-index:20000;}
#mcover img {position: fixed;right: 18px;top:5px;width: 260px;height: 180px;z-index:20001;}
.shuaxin { float:right; margin-top:-35px;}
.shuaxin a{padding-right:20px;}
.nmdz{background:#fea604;color:#FFF; text-align: center;font-size:14px;padding:20px;border-radius: 5px;border:1px solid #fea604;margin-top:10px;margin-left:20px;}
.rankList{margin-left:10px;}
.avatar {width: 40px;height: 40px;MARGIN:0px 10px 10px 0px;}
.avatartext {MARGIN:0px 10px 10px 0px;color:blue;line-height: 24px;}
.img-circle {border-radius: 10%;}
.buy-num{display:none; text-align:center; background:#E60002;margin-top:50px;font-size:16px; font-family:Arial; position:absolute;right:25%;padding-top:5px;}
#zshutext{font-size:18px;}

