<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>联通双11 谁是砍价王？</title>
<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1">
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="alert.js?ver=55ed44"></script>

</head>
<body style="background:#f39800;">
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<script type="text/javascript">
alert('dddd');

</script>
</body>
</html>
