{template 'common/header'}
 
<ul class="nav nav-tabs">
	<li {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('music', array('op'=>'display'));}">背景音乐列表</a></li>
	<li {if $op == 'create'}class="active"{/if}><a href="{php echo $this->createWebUrl('music', array('op'=>'create'));}">添加背景音乐</a></li>
</ul>
 
{if $op == 'display'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" id="form">
		<div class="panel panel-default">
			<div class="panel-heading">帮TA传情 - 背景音乐</div>
			<div class="panel-body">
				<div class="table-responsive panel-body">
					<table class="table table-hover" style="min-width: 300px;">
						<thead class="navbar-inner">
							<tr>
								<th style="width:200px;">背景音乐名称</th>
								<th style="width:700px;">背景音乐文件</th>
								<th style="width:80px;">操作</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{loop $musics $key $item}
							<tr>
								<td class="text-left">{$item['name']}
								</td>
								<td>
									{$item['filename']}
								</td>
								<td>
									<a onclick="if(!confirm('删除后将不可恢复,确定删除吗?')) return false;" href="{php echo $this->createWebUrl('music', array('op'=>'delete', 'id'=>$item['id']));}" class="btn btn-default btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="删除"><i class="fa fa-times"></i> </a>
								</td>
								<td></td>
							</tr>
							{/loop}
							{if !empty($musics)}
							<tr>
								<td colspan="4">
									
								</td>
							</tr>
							{else}
							<tr>
								<td colspan="4">
									尚未添加背景音乐文件
								</td>
							</tr>
							{/if}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</div>
 
<script>
require(['jquery', 'util'], function($, util){
	$(function(){
		$('#form').submit(function(){
			var result = true;
			$('input.categories-name').each(function(){
				if(this.value.length == 0){
					return result = false;
				}
			});
			if(!result){
				util.message('有分类名称未填写.');
			}
			return result;
		});
	});
});
</script>
{/if} <!-- end of display -->
 
{if $op == 'create'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" id="form">
		<div class="panel panel-default">
			<div class="panel-heading">帮TA传情 - 背景音乐</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">背景音乐名称</label>
					<div class="col-xs-12 col-sm-4">
						<input type="text" name="music[name]" class="form-control" value="" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">上传音乐文件</label>
					<div class="col-xs-12 col-sm-4">
						<script type="text/javascript">
            require(['jquery', 'util'], function($, util){
              $(function(){
                // 对象绑定点击事件
                $('#musicupload').click(function(){
                  util.audio('',function(data){
                    $('#listfile').html(data['url']+" (复制出来可以试听)");
                    $('#musicfile').val(data['filename']);
                  });
                });
              });
            });
            </script>
             
            <!-- 多图上传按钮, 点击开始上传 -->
            <span id="musicupload" class="btn btn-primary"><i class="fa fa-plus"></i> 上传音乐文件</span>（大小建议不要超过1M）
            <!-- 此处呈现上传的图片 -->
            <div id="listfile"></div>
            <input id="musicfile" type="hidden" name="music[filename]" value="" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-2 col-lg-offset-2">
						<input name="submit" type="submit" value="提交" class="btn btn-primary" />
						<input type="hidden" name="token" value="{$_W['token']}" />
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
 
<script>
require(['jquery', 'util'], function($, util){
	$(function(){
		$('#form').submit(function(){
			var result = true;
			if($('input[name="category[name]"]').val() == ''){
				result = false;
				util.message('未填写分类名称.');
			}
			return result;
		});
	});
});
</script>
{/if} <!-- end of create -->
 
{template 'common/footer'}