<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>手撕鬼子</title>
    <style>
        body {
            background-color: black;
            margin-top:0px;
            margin-left:0px;
        }

    </style>
	{php echo register_jssdk(false);}
	<script id="initjs">
		window.guanzhu = '{$settings[guanzhu]}';
	</script>
    <script src="../addons/mx_ssgz/template/mobile/js/jquery-2.1.3.min.js"></script>
    <script src="../addons/mx_ssgz/template/mobile/js/d.js?v=231323"></script>
		<script>

        window.shareData = {
            "pengYouQuanTitle": "222",
            "pengYouQuanContent": "鬼子们进村了，我撕不过来，快来帮帮我！！！",
            "haoYouTitle": "333！",
            "haoYouContent": "鬼子们进村了，我撕不过来，快来帮帮我！！！"
        };
    </script>
</head>
<body>
<div id="gameDiv"></div>
</body>
</html>