{template 'common/header'}
<div class="main">
	<form class="form-horizontal form" id="form2" action="" method="post">
		<div class="panel panel-default">
			<div class="panel-heading">
				用户表字段
			</div>
			<div class="panel-body">
							<input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />

				<table class="table table-hover"  style="width:100%;z-index:-10;" cellspacing="0" cellpadding="0">
					<thead class="navbar-inner">
						<tr>
							<th style="width:90px;">字段名</th>
							<th style="width:90px;">显示名</th>
							<th style="width:90px;">显示</th>
							<th style="width:90px;">编辑</th>
							
						</tr>
					</thead>
					{loop $column $value}
					<tr>
						<td>
							<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">{$value['COLUMN_NAME']}</label>
						</td>
						<td><input type="text" class="form-control" name="column_show[{$value['COLUMN_NAME']}]" value="{$value['column_show_name']}" /></td>
						<td><input type='checkbox' name="is_show[{$value['COLUMN_NAME']}]" value="1" {if $value['is_show']}checked{/if} /></td>
						<td><input type='checkbox' name="is_edit[{$value['COLUMN_NAME']}]" value="1" {if $value['is_edit']}checked{/if} /></td>
					</tr>
					{/loop}
				</table>
				{loop $column $value}
					
					<div class="col-sm-1">
						
					</div>
				{/loop}
				
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input name="token" type="hidden" value="{$_W['token']}" />
			<input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />
		</div>
	</form>
</div>
{template 'common/footer'}