
<ul class="nav nav-bardown nav-justified" style="z-index:10;">
	<li><a href="{php echo $this->createMobileUrl('index',array('act'=>'index','sex'=>0))}"><i style="color:#FF6600" class="fa fa-heart"></i> <span style="color:#FF6600">女生PK</span></a></li>
	<li><a href="{php echo $this->createMobileUrl('index',array('act'=>'index','sex'=>1))}"><i style="color:#333399" class="fa fa-heart-o"></i> <span style="color:#333399">男生PK</span></a></li>
	<li><a href="{php echo $this->createMobileUrl('index',array('act'=>'list','sex'=>0))}"><i style="color:#FF6600" class="fa fa-thumbs-up"></i> <span style="color:#FF6600">女生榜</span></a></li>
	<li><a href="{php echo $this->createMobileUrl('index',array('act'=>'list','sex'=>1))}"><i style="color:#333399" class="fa fa-thumbs-o-up"></i> <span style="color:#333399">男生榜</span></a></li>
</ul>
