html,body {
	height:100%;
	color:#000;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 640px;
	min-height: 100%;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	height: 100%;
}

.next-btn {
	padding: 10px 32px;
	background: #e4b558;
	background: -moz-linear-gradient(top,#e4b558 0,#da954e 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e4b558),color-stop(100%,#da954e));
	background: -webkit-linear-gradient(top,#e4b558 0,#da954e 100%);
	background: -o-linear-gradient(top,#e4b558 0,#da954e 100%);
	background: -ms-linear-gradient(top,#e4b558 0,#da954e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4b558',endColorstr='#da954e',GradientType=0);
	background: linear-gradient(top,#e4b558 0,#da954e 100%);
	font-size: 20px;
	border: 1px solid #be8f30;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-weight: bold;
	margin-top: 20px;
}

.next-btn.hover {
	background: -moz-linear-gradient(top,#da954e 0,#e4b558 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#da954e),color-stop(100%,#e4b558));
	background: -webkit-linear-gradient(top,#da954e 0,#e4b558 100%);
	background: -o-linear-gradient(top,#da954e 0,#e4b558 100%);
	background: -ms-linear-gradient(top,#da954e 0,#e4b558 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da954e',endColorstr='#e4b558',GradientType=0);
	background: linear-gradient(top,#da954e 0,#e4b558 100%);
}

.loading-mask {
	width: 100%;
	height: 200%;
	position: fixed;
	background: rgba(0,0,0,0.6);
	z-index: 100;
	left: 0;
	top: 0;
	display: none;
}

.loading-mask img.gimg {
	display: block;
	margin: 160px auto 0;
}

.disabled {
	opacity: .6;
}

.page-url {
	border-top: 0;
}

.page-url-link {
	text-shadow: none;
	color: #FFF;
}
.desc-cont{
	word-wrap:break-word;word-break:break-all;
}
.wrapper{
	text-align: center;
	min-height: 100%;
}
.content-w1{
	border: 1px solid #939393;
}
.content-w1,.content-w2,.content{
	background-color: #e4e4e4;
	border-bottom: 1px solid #939393;
}
.content-w1,.content-w2{
	display: inline-block;
	padding: 0px 0px 3px;
}
.content{
	width: 266px;
	margin: 0px auto;
	padding: 0px 0px 10px;
}
.title{
	font-size: 20px;
	padding: 10px 18px 0px;
}
.connect{
	width: 100%;
	display: block;
	margin: 10px 0px;
}
.desc-cont{
	text-align: left;
	padding: 0 18px;
}
.next-btn, .next-btn:hover{
	color: #FFF;
	width: 120px !important;
	display: block;
	padding: 8px 22px;
	font-size: 16px;
	margin: 20px auto 0px;
}
.page-url{
	margin-top: 30px;
}



.question{z-index:2; position:relative;}
.index{position: absolute;color: #b40000;top: 75px;left: 80px;font-size: 10px;}
.index strong{font-size: 12px;}
.question .title{
	font-size: 24px;
	text-align: center;
	max-height: 77px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:0;
	line-height: 26px;
	margin:20px 0;
	color:#c59873;
}
.question .option{position: relative;height: 45px;}
.question .option .text{position: relative;line-height: 40px;overflow: hidden;}
.question .option .i{float: left;margin-left: 20px;}
.question .option .otext{
	padding-left: 45px;
	overflow: hidden;
	max-width: 100%;
	height: 40px;
	text-align:left;
	background: -webkit-gradient(linear, 0 0, 0 50%, from(#FAFAFA), to(#CFCFCF));
	background: -moz-gradient(linear, 0 0, 0 50%, from(#FAFAFA), to(#CFCFCF));
	border-radius:33px;


}
.question .option .oimg,.question .option .oimg-sel{position: absolute;top: 9px;left: 15px;}
.question .option .oimg-sel{display: none;}
.question .option-sel .oimg{display: none;}
.question .option-sel .oimg-sel{display: block;}
.result-timeout .timg{
	margin-left: -40px;
}
.submit{
	width: 80px;
	margin: 20px 20px 0px 0px;
	float: right;
	position: relative;
}
.submit img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
.submit span{
	position: relative;
	color: #FFF;
	font-size: 18px;
	line-height: 40px;
	margin-left: 8px;
	margin:0;
	text-align:center;
}

.tip{
	margin-bottom:10px;
	color: #FFF;
	font-size: 12px;
	margin-left: 20px;
	text-align:left;
}
.inner-cont{
			width: 280px;
			margin: 0 auto;
			padding-top: 20px;
		}
.qtitle{
	line-height: 30px;
	font-size: 26px;
	font-weight: bold;
}
.field-contain{
	margin-top: 20px;
	text-align:left;
}
.input-label{
	font-size: 18px;
	line-height: 32px;
	text-align:left;
}
.input-text {
	display: block;
	width: 236px;
	height: 32px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 2px 5px;
	background: -moz-linear-gradient(top, #d2cfd2 0, #ffffff 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d2cfd2), color-stop(50%, #ffffff));
	background: -webkit-linear-gradient(top, #d2cfd2 0, #ffffff 50%);
	background: -o-linear-gradient(top, #d2cfd2 0, #ffffff 50%);
	background: -ms-linear-gradient(top, #d2cfd2 0, #ffffff 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2cfd2', endColorstr='#ffffff', GradientType=0 );
	background: linear-gradient(top, #d2cfd2 0, #ffffff 50%);
	border: 1px solid #c6c3c6;
	border-top-width: 2px;
	font-size:19px;
}
.loading-mask{
	background: rgba(0,0,0,0);
}
.xuan{display:none}
body {text-align:center; background:url('bg.jpg');}
#footer, #footer a{position:inherit; color:#FFF;}