@charset "utf-8";
/*
 @名称: liusound
 @功能: 留声卡
 @作者：zuozuo
 */
body{
	/*background: url(../../images/system/liusound/liu_back.jpg) repeat;
	background-size: 160px 25px;*/
	background: #e6e6e6;
	overflow: hidden;
	position:relative;
}
article .img-cont {
	position: relative;
	
}
article .back{
	background: #fff;
}
article .img-cont img.pic {
	width: 100%;
}
article .voice-but{
	position: absolute;
	bottom: -22px;
	left: 50%;
	margin-left: -22px;
	display: block;
	width: 45px;
	height: 45px;
	text-align: center;
	background: #fff;
	border-radius: 50%;
	z-index: 10;
	-moz-box-shadow: 1px 2px 5px #A1A1A1;
	-webkit-box-shadow: 1px 2px 5px #A1A1A1;
	box-shadow: 1px 2px 5px #A1A1A1;
}
article .voice-but img{
	margin-top: 11px;
}

article .back .background{

	min-height: 95px;
	background: url(../img/back.png) center bottom no-repeat;
	background-size: 591px 95px;
}
article .back p{
	padding: 40px 0 10px ;
	font-size: 17px;
	color: #32342f;
}
#main{
	padding: 10px;
}
#main .border-r{
	border-radius: 5px;
	overflow: hidden;
	
}
#main .op-wrap{
	padding: 10px 0px;
	border-top: #d4d4d4 1px solid;	
	background: #fff;
}
#main .op-wrap p{
	padding:0 10px;
}
#main .op-wrap p.but-cont{
	color: #a3abbe;
	font-size: 14px;
}
#main .bd-num{
	font-size: 14px;
	color: #a7a7a7;
}
#main .rp-but{
	background: url(../img/op_icon.png) no-repeat;
	background-position: 0px -24px;
	padding: 1px 0px 1px 20px;
	background-size: 100px 43px;
}

#main .but-cont .ry{
	background: url(../img/op_icon.png) no-repeat;
	background-position: 0px 0px;
	padding: 1px 0px 1px 20px;
	background-size: 100px 43px;
}
#main .like-but{
	background: url(../img/op_icon.png) no-repeat;
	background-position: -80px -24px;
	padding: 1px 0px 1px 20px;
	margin-left: 10px;
	background-size: 100px 43px;
}
#main .but-cont .like{
	background: url(../img/op_icon.png) no-repeat;
	background-position: -80px 0px;
	padding: 1px 0px 1px 20px;
	margin-left: 10px;
	background-size: 100px 43px;
}
#main .op-reply{
	position: relative;
	background: #808e94;
	border-radius: 0 0 5px 5px;

}
#main .op-reply i.sp-icon{
	position: absolute;
	left: 50%;
	top: -9px;
	margin-left: -7px;
	display: block;
	width: 15px;
	height: 9px;
	background: url(../img/shape_icon.png) no-repeat;
	background-size: 15px 9px;
}
#main .op-reply-cont li{
	padding: 10px 15px;
	background: url(../img/border_li.jpg) center bottom no-repeat;
	
}
#main .op-reply-cont li h6,#main .op-reply-cont li p{
	color: #212628;
	font-size: 14px;
}
#main .op-reply-cont li a{
	color: #aac3ce;
	font-size: 14px;
	padding: 0 10px;
}
#main .op-reply-cont li p{
	padding: 5px 0;
}
#main .op-reply-bot a{
	display: block;
	padding: 15px 0;
	text-align: center;
	background: #6b7b82;
	color: #9db0b8;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}
#main .op-reply-top p{
	padding: 10px 15px;
	
}
#main .op-reply-top p textarea{
	width: 100%;
	min-height: 50px;
	padding: 5px 0;
	text-indent: 5px;
	border: #5e6f76 1px solid;
	border-radius: 3px;
}

#main .op-reply-top button{
	background: #96d967;
	border-radius: 3px;
	border: none;
	font-size: 14px;
	color: #fff;
	padding: 5px 35px;
	cursor: pointer;
}

#main .bottom{
	padding: 10px 0;
	text-align: center;
}
#main .bottom a{
	display: block;
	height: 39px;
	line-height: 39px;
	border-radius: 5px;
	margin: 0 50px;
	color: #fff;
	font-size: 17px;
	background: #99cc66;
}

#main .liu-footer{
	padding: 10px 0;
}
#main .liu-footer a{
	display: block;
	color: #747474;
	font-size: 14px;
	margin: 0 10px;
}

/*插件需要*/
#wrapper {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	left: 0;
	width: 100%;
	overflow: hidden;
}
#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}


#main footer{
	background: none;
	color: #747474;
	font-size: 14px;
	text-shadow:3px 2px 4px #333333;
}