html {
	background:#444;
}
.announce {
	padding:20px 0;
	background:#f5d838;
}
.announce h1 {
	font-size:26px;
	padding-left:20px;
	color:#000;
}
#sheet {
	background:#2b2b2b;
	width:640px;
	margin:0 auto 40px auto;
  	-moz-box-shadow:0 0 3px #1b1b1b;
  	-webkit-box-shadow:0 0 3px #1b1b1b;
  	box-shadow:0 0 3px #1b1b1b;
  	overflow: hidden;
}
#sheet .imgs {
	overflow: hidden;
	background:#fff;
	position: relative;
	overflow: hidden;
}
#sheet .imgs .status {
	height:50px;
	line-height: 50px;
	width:100%;
	
	font-size:20px;
	color:#b3b1b1;
	padding-left:20px;
	color:#fff;
}
#sheet .imgs .status .inner {
	position: relative;
	z-index:200;
}
#sheet .imgs .status:before {
	content:'';
	background: #55ae56;
	position: absolute;
	width:100%;
	height:50px;
	left:0;
	top:0;
  	opacity: 0.7;
  	z-index:100;
}
#sheet .imgs .status.outofdate {
	color:#333;
}
#sheet .imgs .status.outofdate:before {
	background:#ddd;
}
#sheet .imgs .status.wait:before {
	background:#e68508;
}
#sheet .imgs .cursors {
	width:100%;
	line-height: 1;
	text-align: center;
	position: absolute;
	bottom:30px;
}
#sheet .imgs .cursors em {
	display: inline-block;
	width:16px;
	height:16px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #ababab;
	margin-right:13px;
	cursor: pointer;
}
#sheet .imgs .cursors em:last-child {
	margin-right:0;
}
#sheet .imgs .cursors em.selected {
	background:#55ae56;
}
#sheet .imgs {
	overflow: hidden;
}
#sheet .imgs ul {
	white-space:nowrap; 
}
#sheet .imgs img {
	width:640px;
	float: left;
	display: none; 
}	
#sheet .prizes {
	-moz-box-shadow:0 1px 2px #1b1b1b;
  	-webkit-box-shadow:0 1px 2px #1b1b1b;
  	box-shadow:0 1px 2px #1b1b1b;
}
#sheet .detail .prizes {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-align: left;
}
#sheet .detail .prizes .desc {
	width:90%;
	margin:15px auto 0 auto;
	color:#666;
}
#sheet .detail .prizes .desc em {
	background:#55ae56;
	display: inline-block;
	color:#fff;
	height:25px;
	padding:0 4px;
}
#sheet .prizes-wrap {
	padding:10px 0;
	font-size:16px;
}
#sheet .prizes-wrap li {
	margin-bottom:5px;
}
#sheet .prizes-wrap ul {
	width:90%;
	margin:0 auto;
}
#sheet .prizes-wrap label {
	color:#d45252;
	display: inline-block;
	height:21px;
	line-height: 20px;
	border:1px solid #d45252;
	padding:0 8px 0 8px;
}
#sheet .detail .prizes-wrap label {
	border: 1px solid #8a8a8a;
	color: #8a8a8a;
}
#sheet .detail .prizes-wrap label img {
	filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); 
	-webkit-filter: grayscale(1); 
}
#sheet .prizes-wrap label img {
	vertical-align: -2px;
}
#sheet .prize-num {
	display: inline-block;
	border:1px solid #8a8a8a;
	color:#8a8a8a;
	height:21px;
	line-height: 20px;
	margin-left:5px;
	vertical-align: middle;
}
#sheet .prize-num i {
	font-style: normal;
	padding:0 5px;
}
#sheet .prize-num em {
	border-right:1px solid #8a8a8a;
	padding:0 5px;
}
#sheet .prize-result {
	background:#edecec;
	color:#f92c3c;
	line-height: 1.6;
	padding:8px 15px;
	margin-top:10px;
	font-weight: bold;
}
#sheet .prize-name {
	color:#999;
	font-size:18px;
	margin-left:5px;
	line-height: 1;
	vertical-align: middle;
}
#sheet .rules {
	text-align: center;
	position:relative;
}
#sheet .rules .split {
	margin:15px auto 0 auto;
	line-height: 1;
}
#sheet .rules .detail {
	min-height: 100px;
	background:#fff;
	width:600px;
	margin:-5px auto 20px auto;
}
#sheet .rules .detail-box .box-title {
	background:url(../../../img/shop/single/secret/secret-detail-icon.png) center top no-repeat;
	height:65px;
	line-height: 80px;
}
#sheet .rules .detail-box {
	border-bottom:2px dashed #949494;
	padding:30px 0 50px 0;
}
#sheet .rules .detail-box .notify {
	height:57px;
	line-height: 57px;
	background:#f9db68;
	width:90%;
	margin:15px auto;
	font-size:20px;
	color:#000;
}
#sheet .rules .detail-box .notify .lt {
	margin-left:20px;
}
#sheet .rules .detail-box .notify .rt {
	margin-right:20px;
}
#sheet .rules .detail-box:last-child {
	border-bottom:none;
}
#sheet .rules .detail-box .box-title h3 {
	font-size:30px;
}
#sheet .join-rules ol {
	margin:20px 0 0 20px;
}
#sheet .join-rules .single-line.hidden,
#sheet .join-rules .multi-line.hidden {
	display: none;
}
#sheet .join-rules li {
	font-size:30px;
	color:#666;
	text-align: left;
}
#sheet .join-rules li:last-child {
	margin-top:15px;
}
#sheet .join-rules li .weixin-nick {
  	-moz-user-select: all;
  	-webkit-user-select: all;
  	-ms-user-select: all;
  	border:none;
  	display: inline-block;
  	min-width:20px;
}
#sheet .join-rules .single-line input.weixin-nick {
	max-width: 240px;
	text-align: center;
}
#sheet .join-rules li .weixin-nick:hover {
	text-decoration: none;
}
#sheet .join-rules li .weixin-nick.hidden {
	display: none;
}
#sheet .join-rules .multi-line .weixin-nick {
	display: block;
	width:98%;
	text-align: center;
	padding:0;
	margin-top:8px;
}
#sheet .join-rules li .weixin-nick.reference {
	position: absolute;
	left:-10000em;
}
#sheet .join-rules li .weixin-nick:focus {
	outline: none;
}
#sheet .join-rules li em {
	color:#5bb050;
	display: inline-block;
	height:30px;
	line-height: 30px;
	border:1px solid #5bb050;
	width:30px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size:26px;
}
#sheet .join-rules li .paste {
	font-size:18px;
	margin-left:8px;
	vertical-align: 0;
}
#sheet .join-rules li .paste img {
	vertical-align: middle;
	margin-top:-2px;
}
#sheet .join-rules li .weixin-nick {
	background:#5bb04f;
	color:#fff;
	font-size:35px;
	padding:0 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: arial;
	height:48px;
	line-height:48px;
}
#sheet .join-rules li .secret {
	color:#5bb050;
}
#sheet .judge-rule {
	text-align:left;
}
#sheet .judge-rule .rule-row {
	margin:20px 6% 0 6%;
	padding-bottom:20px;
	border-bottom:1px solid #ddd;
}
#sheet .judge-rule .rule-row p {
	color:#666;
	font-size:20px;
}
#sheet .judge-rule .rule-row p.emphasis {
	font-size:30px;
	margin-bottom:10px;
	font-family: arial;
}
#sheet .judge-rule .rule-row:last-child,
#sheet .judge-rule .rule-row.last {
	border-bottom:none;
}
#sheet .judge-rule .rule-extend.hidden {
	display: none;
}
#sheet .judge-rule-display-more {
	margin-left:45px;
	text-align: left;
}
#sheet .judge-rule-display-more a {
	font-size:20px;
	background:#f7f6f6;
	display: inline-block;
	padding:0 12px;
	height:40px;
	line-height: 40px;
	color:#1278b9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#sheet .judge-rule-display-more a:hover {
	text-decoration: none;
}
#sheet .judge-data {
	background:#f6f4ec;
	width:90%;
	margin:30px auto 0 auto;
}
#sheet .judge-data .data-wrap {
	padding:15px 20px;
	color:#666;
	font-size:16px;
}
#sheet .judge-data h3 {
	color:#000;
	font-size:20px;
	font-weight: bold;
	margin-bottom:5px;
}
#sheet .judge-data .data-wrap strong {
	color:#f90009;
	font-weight: normal;
}
#sheet .judge-data p a {
	color:#0078b6;
	margin-left:5px;
}
#sheet .footer {
	color:#666;
	font-size:16px;
	text-align:center;
	padding-bottom:15px;
}
#sheet .footer a {
	color:#666;
}
#code {
	position: fixed;
	left:50%;
	top:30px;
	height:149px;
	margin-left:370px;
	background: #fff;
	padding:5px 5px 3px 5px;
	text-align: center;
}
#code p {
	line-height: 1;
	margin:-5px 0 5px 0;
	color:#666;
}
#sheet .quiz {
	margin-top:20px;
	font-size:22px;
	padding-left:45px;
	color:#666;
}
#sheet .quiz label {
	color:#fff;
	background:#5bb04f;
	padding:3px 5px;
	font-size:18px;
	vertical-align: middle;
}
#sheet .secrets {
	width:365px;
	margin-left:45px;
}
#sheet .secrets ul {
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	margin-top:10px;
}
#sheet .secrets li {
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	text-align: left;
	color:#000;
	font-size:22px;
}
#sheet .secrets li:last-child {
	margin-top:0;
}
#sheet .secrets li em {
	display: inline-block;
	width:110px;
	height:26px;
	background:url(../../../img/shop/single/secret/is-lucky-icon.png) no-repeat;
	vertical-align: middle;
	text-indent: -10000em;
	overflow: hidden;
	margin-left:8px;
	-webkit-border-radius: 0; 
	-moz-border-radius: 0;
	border-radius: 0; 
	border:none;
}
#sheet .secrets li label {
	display: inline-block;
	width:64px;
	border-right:1px solid #ccc;
	text-align: center;
	margin-right:15px;
	color:#999;
	padding:10px;
}
@media all and (max-width:500px) {
	html {
		background:#2b2b2b;
	}
	#sheet {
		width:100%;
	  	-moz-box-shadow:none;
	  	-webkit-box-shadow:none;
	  	box-shadow:none;
	  	margin-bottom:0;
	}
	#sheet .imgs {
		height:auto;
	}
	#sheet .imgs img {
		max-width:100%;
	}
	#sheet .rules .detail {
		width:95%;
	}
	#sheet .imgs .status {
		font-size:14px;
		height:35px;
		line-height: 35px;
	}
	#sheet .imgs .status:before {
		height:35px;
		opacity: 0.85;
	}
	#sheet .rules .split img {
		width:98%;
	}
	#sheet .rules .detail-box .box-title h3 {
		font-size:16px;
	}
	#sheet .join-rules li {
		font-size:14px;
	}
	#sheet .join-rules li em {
		width:16px;
		height:16px;
		line-height: 16px;
		font-size:14px;
	}
	#sheet .join-rules li .weixin-nick {
		font-size:18px;
		height:24px;
		line-height: 24px;
	}
	#sheet .join-rules li .paste {
		font-size:14px;
		margin-left:0;
	}
	#sheet .join-rules li .paste img {
		width:15px;
	}
	#sheet .join-rules ol {
		margin:10px 0 0 10px;
	}
	#sheet .rules .detail-box .box-title {
		height:40px;
		line-height: 40px;
		padding-top:10px;
	}
	#sheet .join-rules li {
		margin-bottom:10px;
	}
	#sheet .join-rules li .secret {
		font-size:20px;
	}
	#sheet .judge-rule .rule-row p {
		font-size:14px;
	}
	#sheet .judge-rule .rule-row {
		margin:15px;
	}
	#sheet .judge-rule .rule-row p.emphasis {
		font-size:24px;
	}
	#sheet .judge-rule-display-more {
		margin:-20px 0 0 15px;
	}
	#sheet .judge-rule-display-more a {
		font-size:12px;
		height:22px;
		line-height: 22px;
	}
	#sheet .rules .detail-box {
		padding:20px 0 40px 0;
	}
	#sheet .footer {
		font-size:12px;
	}
	#sheet .prizes-wrap label {
		height:16px;
		line-height: 16px;
		font-size:12px;
		padding:0 5px 0 5px;
	}
	#sheet .prizes-wrap label img {
		width:13px;
		margin-top:1px;
	}
	#sheet .prize-num {
		height:16px;
		line-height: 16px;
		font-size:12px;
		margin-left:0;
	}
	#sheet .prize-name {
		font-size:14px;
		margin-left:0;
	}
	#sheet .prizes-wrap {
		padding:10px 0;
	}
	#sheet .imgs .cursors em {
		width:8px;
		height:8px;
	}
	#sheet .imgs .cursors {
		bottom:10px;
	}
	#sheet .imgs .cursors em {
		margin-right:5px;
	}
	#sheet .join-rules .multi-line .weixin-nick {
		height:35px;
		line-height: 35px;
		margin-top:5px;
	}
	#sheet .join-rules li:last-child {
		margin-top:0;
	}
	#sheet .rules .detail-box .notify {
		height:40px;
		line-height: 40px;
		background:#f9db68;
		width:90%;
		margin:0 auto;
		font-size:12px;
		color:#000;
	}
	#sheet .rules .detail-box .notify img {
		width:10px;
	}
	#sheet .rules .detail-box .notify .lt {
		margin-left:10px;
	}
	#sheet .rules .detail-box .notify .rt {
		margin-right:10px;
	}
	#sheet .detail .prizes-wrap {
		padding:5px 5%;
	}
	#sheet .prizes-wrap ul {
		width:90%;
	}
	#sheet .detail .prizes-wrap ul {
		width:100%;
	}
	#sheet .prize-result {
		font-size:12px;
	}
	#sheet .judge-data {
		margin-top:5px;
	}
	#sheet .judge-data h3 {
		font-size:14px;
	}
	#sheet .judge-data .data-wrap {
		font-size:12px;
	}
	#sheet .join-rules li input.weixin-nick { 
		width:100px;
	}
	#sheet .detail .prizes .desc {
		font-size:12px;
		margin:15px 0 0 0;
	}
	#sheet .detail .prizes .desc em {
		height:15px;
		line-height: 15px;
		padding:0 2px;
	}
	#sheet .quiz {
		padding-left:20px;
		font-size:12px;
		margin-top:10px;
	}
	#sheet .quiz label {
		font-size:12px;
	}
	#sheet .secrets {
		width:auto;
		margin:0 20px;
	}
	#sheet .secrets li {
		font-size:12px;
		margin-bottom:0;
	}
	#sheet .secrets li label {
		padding:5px 0;
		width:50px;
		margin-right:5px;
	}
	#sheet .secrets li em {
		background-size:66px 15px;
		-moz-background-size:66px 15px;
		-moz-background-size:66px 15px;
		-o-background-size:66px 15px;
		height:15px;
		width:66px;
		margin-left:1px;
	}
	.announce {
		padding:10px 0;
	}
	.announce h1 {
		font-size:14px;
		padding-left:15px;
	}
	.share-data{width:100%;position:absolute;font-size:18px;z-index:9999;bottom:20px;padding:0 10px;}
	.share-data ul li{float:left;width:32.3%;}
	/* box */
	.box{position:absolute;width:120px;height:auto;z-index:100000; color:#fff;padding:1px;}
	.box h2{height:25px;font-size:18px;position:relative;padding-left:10px;line-height:25px;color:#fff;}
	.box h2 a{position:absolute;left:5px;font-size:18px;color:#fff; float:left;}
	.box .list{padding:10px;}
	.box .list li{height:24px;line-height:24px;}
	.box .list li span{margin:0 5px 0 0;font-family:"微软雅黑";font-size:12px;font-weight:400;color:#ddd;}
	#bg{background-color:#000;
		position:absolute;
		z-index:99999;left:0;top:0;
		display:none;width:100%;height:100%;
		opacity:0.9;filter: alpha(opacity=90);-moz-opacity: 0.9;}
}
