html {
	background:#444;
}
#sheet {
	background:#fafafa;
	width:640px;
	margin:0 auto 40px auto;
  overflow: hidden;
  min-height: 800px;
  color:#666;
}
.announce {
	padding:20px 0;
	background:#f5d838;
}
.announce h1 {
	font-size:26px;
	padding-left:20px;
	color:#000;
}
.results .thread {
	height:75px;
	line-height: 75px;
	border-bottom:1px solid #e4e4e4;
	color:#666;
}
.results .thread li {
	float: left;
	text-indent:1em;
	font-size:20px;
	background:#f5f5f5;
}
.results .thread li.secret {
	width:29%;
}
.results .thread li.mine {
	width:28%;
	text-align: center;
	text-indent: 0;
}
.results .thread li.luck {
	width:28%;
	text-align: center;
	text-indent: 0;
}
.results .thread li.detail {
	width:15%;
}
.results .rows table {
	width:100%;
}
.results .rows tr {
	background:#fff;
	border-bottom:1px solid #e4e4e4;
}
.results .rows tr .secret {
	width:29%;
}
.results .rows tr .mine {
	width:28%;
	text-align: center;
	text-indent: 0;
}
.results .rows tr .luck {
	width:28%;
	height:100%;
	text-align: center;
}
.results .rows tr .luck .emphasis {
	font-weight: bold;
	color:red;
	margin-bottom:5px;
}
.results .rows tr .luck  {
	line-height: 1.5;
	text-indent: 0;
}
.results .rows td .detail {
	width:15%;
}
.results .rows tr > td {
	padding:30px 0;
	text-indent:1em;
	font-size:20px;
	vertical-align: middle;
	display: table-cell;
}
.results .rows tr .secret label {
	font-size:18px;
	color:#83a736;
	display: inline-block;
	border:1px solid #83a736;
	line-height: 1;
	text-indent:0;
	padding:7px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  width:50%;
  text-align: center;
}
.results .rows tr .arrow {
	display: inline-block;
	border-width: 20px;
	border-style: dashed;
	border-color: transparent;
	border-right-width: 0;
	border-left-color: #e7e7e7;
	border-left-style: solid;
	position: relative;
	vertical-align: middle;
}
.results .rows tr .arrow:before {
	content:'';
	display: inline-block;
	border-width: 16px;
	border-style: dashed;
	border-color: transparent;
	border-right-width: 0;
	border-left-color: #fff;
	border-left-style: solid;
	position: absolute;
	right:4px;
	top:-16px;
}
.results .rows .postage-submit,
.results .rows .expired {
	display: inline-block;
	font-size:16px;
	padding:4px 10px;
	background:#e7820a;
	color:#fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top:5px;
}
.results .rows .postage-submit:hover {
	text-decoration: none;
	background:#e0800d;
}
.results .rows .expired,
.results .rows .expired:hover {
	color:#fff;
	background:#cacaca;
	cursor: default;
}
@media all and (max-width:500px) {
	#sheet {
		width:100%;
	}
	.announce {
		padding:10px 0;
	}
	.announce h1 {
		font-size:14px;
		padding-left:15px;
	}
	.results .thread {
		height:40px;
		line-height: 40px;
	}
	.results .thread li {
		font-size:12px;
	}
	.results .rows tr > td {
		font-size:12px;
		text-indent:1em;
		padding:15px 0;
	}
	.results .rows tr .secret label {
		font-size:12px;
		padding:4px 6px;
	}
	.results .rows tr .mine {
		text-indent:0;
	}
	.results .rows tr .luck {
		text-indent: 0;
	}
	.results .rows tr .arrow {
		border-width: 10px;
	}
	.results .rows .postage-submit,
	.results .rows .expired {
		font-size:12px;
		padding:2px 7px;
	}
	
}
