{template 'common/header'}
<style>
.sub-search input,.sub-search select{margin-bottom:0;}
</style>
    <div class="main">
		<div class="stat">
			<div class="stat-div">
				<div class="navbar navbar-static-top">
					<div class="navbar-inner">
						<span class="brand">[{$reply['title']}]抢礼品活动排名管理</span>
						<div class="pull-left">
							<ul class="nav">
								<li class="active"><a href="{php echo create_url('site/module', array('do' => 'download', 'name' => 'hlzonyu','rid'=>$id,'weid'=>$_W['weid']))}"><i class="icon-download-alt"></i>导出[{$reply['title']}]抢礼品数据</a></li>								
							</ul>
						</div>
					</div>
				</div>
	
				<div class="sub-item" id="table-list">
					<h4 class="sub-title">[{$reply['title']}]抢礼品详细数据  |  总数:{$total}</h4>
					<form action="" method="post" onsubmit="">
					<div class="sub-content">
						<table class="table table-hover">
							<thead class="navbar-inner">
								<tr>
									<th style="width:40px;" class="row-first">选择</td>
									<th style="width:100px;" class="row-hover">排名<i></i></th>
									<th style="width:120px;">姓名<i></i></th>
									<th style="width:120px;">电话<i></i></th>					
									<th>OpenID<i></i></th>
									<th style="width:60px;">砍价金额<i></i></th>
									<!--<th style="width:80px;">内定排名</i></th>
									<th style="width:80px;">是否中奖<i></i></th>-->
									<th style="width:150px;">最后集抢时间<i></i></th>
									<th style="width:60px;">操作</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							{php $i=1;}
								{loop $list_zonyu $row}
								<tr>
									<td class="row-first"><input type="checkbox" name="select[]" value="{$row['id']}" /></td>
									<td class="row-hover">{php echo $i+(($page-1)*$psize)}</td>	
									<td>{$row['realname']}</td>
									<td>{$row['mobile']}</td>
									<td>{$row['from_user']}</td>									
									<td><a href="{php echo create_url('site/module/zonyudatalist', array('name' => 'hlzonyu','id' => $row['rid'],'uid' => $row['id']))}">{$row['zonyunum']}</a></td>
									<!--<td><a class="btn" href="{php echo create_url('site/module/paiming', array('name' => 'hlzonyu','rid' => $row['rid'], 'id' => $row['id'], 'id' => $row['id'], 'ndrank' => $row['ndrank']))}">{$row['ndrank']}</a></td>
									<td>{if $row['zhongjiang']==0}未中奖{/if}{if $row['zhongjiang']==1}<a href="{php echo create_url('site/module/dosjiang', array('name' => 'hlzonyu','rid' => $row['rid'], 'id' => $row['id'], 'ac' => 'zonyuranklist', 'status' => 2))}">发　奖</a>{/if}{if $row['zhongjiang']==2}已领奖{/if}</td>-->
									<td>{php echo date('Y-m-d H:i:s', $row[zonyutime]);}</td>
									<td style="width:60px;font-size:12px; color:#666;">
														{if $row['status']}
					<a href="{php echo create_url('site/module/dos', array('name' => 'hlzonyu','rid' => $row['rid'], 'id' => $row['id'], 'ac' => 'zonyuranklist', 'status' => 0))}" class="">未屏蔽</a>
				{else}
					<a href="{php echo create_url('site/module/dos', array('name' => 'hlzonyu','rid' => $row['rid'], 'id' => $row['id'], 'ac' => 'zonyuranklist','status' => 1))}" class="">已屏蔽</a>
				{/if}
									</td><td></td>
								</tr>
								{php $i++;}
								{/loop}
							</tbody>
						</table>
						<table class="table">
							<tr>
								<td style="width:40px;" class="row-first"><input type="checkbox" onclick="selectall(this, 'select');" /></td>
								<td>
									<input type="submit" name="delete" value="删除" class="btn btn-primary" />
									<input type="hidden" name="token" value="{$_W['token']}" />
								</td>
							</tr>
						</table>
					</div>
				</form>
				{$pager}
				</div>
			</div>
		</div>
    </div>

<script>
$(function() {
	//详细数据相关操作
	var tdIndex;
	$("#table-list thead").delegate("th", "mouseover", function(){
		if($(this).find("i").hasClass("")) {
			$("#table-list thead th").each(function() {
				if($(this).find("i").hasClass("icon-sort")) $(this).find("i").attr("class", "");
			});
			$("#table-list thead th").eq($(this).index()).find("i").addClass("icon-sort");
		}
	});
	$("#table-list thead th").click(function() {
		if($(this).find("i").length>0) {
			var a = $(this).find("i");
			if(a.hasClass("icon-sort") || a.hasClass("icon-caret-up")) { //递减排序
				/*
					数据处理代码位置
				*/
				$("#table-list thead th i").attr("class", "");
				a.addClass("icon-caret-down");
			} else if(a.hasClass("icon-caret-down")) { //递增排序
				/*
					数据处理代码位置
				*/
				$("#table-list thead th i").attr("class", "");
				a.addClass("icon-caret-up");
			}
			$("#table-list thead th,#table-list tbody:eq(0) td").removeClass("row-hover");
			$(this).addClass("row-hover");
			tdIndex = $(this).index();
			$("#table-list tbody:eq(0) tr").each(function() {
				$(this).find("td").eq(tdIndex).addClass("row-hover");
			});
		}
	});
});
</script>
{template 'common/footer'}