@charset "utf-8";
html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0,0,0,0)}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {margin: 0;padding: 0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
audio, canvas, video {display: inline-block}
body, button, input, select, textarea {font: 16px/1.5 tahoma, arial, sans-serif; font-family:"微软雅黑"}
h1, h2, h3, h4, h5, h6 {font-size: 1em}
small, cite, code, em, th, i, b {font-size: 1em;font-style: normal;font-weight: 500}
input, select, textarea, button {font-size: 1em}
button, input[type=button], input[type=reset], input[type=submit] {-webkit-appearance: button;-webkit-user-select: none;cursor: pointer}
button[disabled], input[disabled] {cursor: default}
button::-moz-focus-inner, input::-moz-focus-inner {border:0 none;padding:0}
input[type=checkbox], input[type=radio] {box-sizing: border-box}
input[type=search] {-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {-webkit-appearance:none}
input:-webkit-autofill {background-color:transparent}
::-webkit-inner-spin-button {-webkit-appearance:none}
textarea {overflow: auto;vertical-align: top;resize: vertical}
table {border-collapse: collapse;border-spacing: 0}
fieldset, img, iframe {border: 0 none}
img {display: inline-block;-ms-interpolation-mode: bicubic}
ul, ol, li {list-style: none}
q:before, q:after {content: ""}
a {text-decoration: none;-webkit-touch-callout: none}
a:active {outline: 0 none}
a {color: #404040}
::-webkit-input-placeholder {color:#bfbfbf;font-family:helvetica neue, tahoma, arial, hiragino sans gb, microsoft yahei, sans-serif}
.fl {float: left}
.ri {float: right}
.clear {clear: both}
.clearfix {zoom: 1}
.clearfix:after {content: ".";clear: both;display: block;height: 0;visibility: hidden}
.none {display: none}
.inline {display: inline}
.block {display: block}
.inline-block {display: inline-block}
.checkbox{background:url(../images/icon.png) no-repeat -176px -159px; display:inline-block;background-size:267px; width:15px; height:15px;}
.che_this{background:url(../images/icon.png) no-repeat -176px -127px;background-size:267px;}
.checkbox input{ display:none;}

.radio{background:url(../images/icon.png) no-repeat -222px -206px; display:inline-block;background-size:267px; width:17px; height:15px;}
.rad_this{background:url(../images/icon.png) no-repeat -222px -180px;background-size:267px;}
.radio input{ display:none;}

.sousuo_bg{ background:#efefef; padding:.5em .8em;}
.sousuo{border:#b5b5b6 solid 1px; background:#FFF; border-radius:30px; display:-webkit-box; padding:.3em;}
.sousuo .txt{ display:block; -webkit-box-flex:1; border:0px; padding-left:10px;}
.sousuo .btn{ border:0px; display:block; width:50px;background:url(../images/icon.png) no-repeat -182px -103px;background-size:300px;}
.saixuan_btn{ background:#f7f8f8; border-bottom:#eeefef solid 1px; padding:.5em 1em; text-align:center;}
.saixuan_btn span{ display:inline-block; background:#fff; border-radius:5px; margin:0 .2em; padding:.1em 1em; border:#b5b5b6 solid 1px; color:#898989; font-size:.9em; position:relative;}
.saixuan_btn span em{ position:absolute; width:8px; height:8px; border-radius:50%; right:-4px; top:-4px; background:#e60012;}
.saixuan_btn .this{ background:#2ea7e0; border:#2ea7e0 solid 1px; color:#FFF;}
/*登陆*/
.login_box{ padding:3em; border-top:#2ea7e0 solid 1px;}
.login_logo{ text-align:center;}
.login_logo img{ width:100%;}
.login_box h1{ text-align:center; font-weight:normal; color:#9fa0a0; margin-bottom:1em;}
.phone{}
.phone input{ background:#fff; border:#dddddd solid 1px; display:block; padding:10px 8px; outline:none; width:100%; margin-bottom:1em; border-radius:8px; -webkit-transition:all .5s; -webkit-box-sizing:border-box;}
.phone input:focus{ border:#2ea7e0 solid 1px; box-shadow:#2ea7e0 0 0 8px;}
.btn_dl{ background:#2ea7e0; color:#FFF; padding:.7em 0; border:0px; outline:none; width:100%; border-radius:8px;}
.login_wjmm{ margin-bottom:1em; color:#9fa0a0; font-size:.8em; overflow:hidden;}
.login_wjmm .ri a{ color:#2ea7e0;}
/*提示框*/
.tanchu_box{ position:fixed; top:0; bottom:0px; width:100%; z-index:100; background:rgba(0,0,0,.5);-webkit-animation:tcdh .8s ease;}
@-webkit-keyframes tcdh{
	0%{ opacity:0}
	100%{ opacity:1;}
	}
.tanchu{ margin:20% auto auto; background:#FFF; border:#d0d1d1 solid 1px; border-radius:5px;box-shadow: rgba(0,0,0,.1) 0 0 3px 1px;}
.tanchu_60{ width:60%;}
.tanchu_80{ width:80%;}
.tanchu_bt{ border-bottom:#62bde8 solid 1px; height:35px; position:relative; }
.tanchu_bt span{ width:35px; height:35px; position:absolute; right:0px; top:0px;background:url(../images/icon.png) no-repeat -242px -80px;background-size:300px; cursor:pointer;}
.tanchu_nr{ padding:.8em;}
.tanchu_nr span{ display:block; border-bottom:#f1f2f2 solid 1px; height:40px; line-height:40px; text-align:center; color:#595757;}
/*应用*/
header{ height:50px; line-height:50px; position:relative; background:#2ea7e0; color:#FFF;}
.hea_title{ text-align:center; padding:0 15%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.hea_lebtn,.hea_ribtn{ text-align:center; position:absolute; background-image:url(../images/icon.png);background-repeat:no-repeat; width:15%; height:100%; cursor:pointer;background-size:300px; top:0px;}
.hea_lebtn{left:0px;}
.hea_ren{background-position:-237px 15px;}
.hea_ribtn{ right:0px;}
.hea_add{background-position:-232px -29px;}
.hea_del{background-position:-179px -54px;}
.hea_que{ background:none;}
.apply_list{ padding-bottom:58px;}
.apply_list li{ border-bottom:#f1f2f2 solid 1px; overflow:hidden; padding:.5em .8em;}
.apply_list .le{ width:50px; float:left;}
.apply_list .le img{ width:100%; float:left;}
.apply_list .ri{ padding:15px 0 0 50px; float:none;}
.apply_list .ri .ri_bt{ float:left; padding-left:15px;}
.apply_list .ri a{color:#2ea7e0; float:right; margin-left:15px;}
/*消息*/
.xiaoxi_list{ padding-bottom:58px;}
.xiaoxi_list li{ border-bottom:#f1f2f2 solid 1px; overflow:hidden; padding:.5em .8em; display:-webkit-box;}
.xiaoxi_list .le{-webkit-box-flex:1; padding-left:30px; position:relative;}
.xiaoxi_list .le h2{ color:#595757; font-weight:normal;}
.xiaoxi_list .le span{ color:#9fa0a0;}
.xiaoxi_list .ri{ position:relative; width:50px; float:none;}
.xiaoxi_list .ri .checkbox{ display:block; position:absolute; width:15px; height:15px; left:50%; top:13px; margin-left:-7px; }
.xiaoxi_list .icon{ width:30px; height:22px; left:0px; top:0px; position:absolute;}
.xiaoxi_list .xx_op .icon{background:url(../images/icon.png) no-repeat -194px 5px;background-size:300px;}
.xiaoxi_list .xx_clo .icon{background:url(../images/icon.png) no-repeat -194px -31px;background-size:300px;}
.xiaoxi_list .xx_clo h2{ color:#9fa0a0;}
.xinxi_qx{ color:#666; text-align:right; padding:.2em .5em; background:#f7f8f8; position:fixed; bottom:58px;left:0px; right:0px;}
/*消息详情*/
.xiaoxi_con{ margin:2em 2em 58px;}
.xiaoxi_con .bt{ color:#a8a8a8;}
.xiaoxi_con .time{ color:#999;}
.text_rea{ border:#cbcccc solid 1px; background:#f7f8f8; padding:.5em; width:100%; -webkit-box-sizing:border-box; margin-bottom:1em;}
/*发现*/
.faxian_list{ padding-bottom:58px;}
.faxian_list li{ overflow:hidden; border-bottom:#f1f2f2 solid 1px; padding:1em 2em 1em 2.5em; position:relative; color:#333;}
.faxian_list li:after{ content:''; position:absolute; right:10px; width:18px; height:18px; background:url(../images/icon.png) -51px -409px; background-size:250px; top:50%; margin-top:-9px;}
.faxian_list li:before{ content:''; position:absolute; left:10px; width:30px; height:30px;top:50%; margin-top:-16px;}
.faxian_list .tongji:before{background:url(../images/icon.png) 0px -194px no-repeat; background-size:260px;}
.faxian_list .shangquan:before{background:url(../images/icon.png) 0px -234px no-repeat; background-size:260px;}
.faxian_list .lianxiren:before{background:url(../images/icon.png) 0px 5px no-repeat; background-size:260px;}
.faxian_list .me_qb:before{background:url(../images/icon.png) 0px -36px no-repeat; background-size:260px;}
.faxian_list .mm_gl:before{background:url(../images/icon.png) 0px -75px no-repeat; background-size:260px;}
.faxian_list .me_wifi:before{background:url(../images/icon.png) 0px -116px no-repeat; background-size:260px;}
.faxian_list .me_style:before{background:url(../images/icon.png) 0px -152px no-repeat; background-size:260px;}
.faxian_list .shangjia{ padding:1em 2em 1em 1em;}
.faxian_list .shangjia .logo{ width:80px; float:left; margin-right:5px;}
.faxian_list .shangjia .logo img{ width:100%; display:block;}
.faxian_list .shangjia h2{ font-weight:normal;}
.faxian_list .shangjia span{ color:#666;}
/*商家信息*/
.fshangjia_list{ padding-bottom:58px;}
.fshangjia_list li{ overflow:hidden; display:-webkit-box; -webkit-box-align:center; border-bottom:#f1f2f2 solid 1px; padding:1em 2em 1em 1em; position:relative; color:#333;}
.fshangjia_list li:after{ content:''; position:absolute; right:10px; width:18px; height:18px; background:url(../images/icon.png) -51px -409px; background-size:250px; top:50%; margin-top:-9px;}
.fshangjia_list li .logo{ width:80px; margin-right:5px;}
.fshangjia_list li .logo img{ width:100%; display:block;}
.fshangjia_list li a{ color:#00a0e9; margin-left:10px;}
.fshangjia_list h2{ background:#f7f8f8; border-bottom:#f1f2f2 solid 1px; padding:.3em 1em; color:#999; font-weight:normal; font-size:.9em;}
/*我的钱包*/
.me_qianbao_list{ padding-bottom:58px;}
.me_qianbao_top{ text-align:center; overflow:hidden; display:-webkit-box; -webkit-box-pack:center;}
.me_qianbao_top div{ display:block; border:#c7c7c8 solid 1px; padding:1em 0;width:25%; margin:1em .5em; color:#595757;}
.me_qianbao_top div b{ display:block;}
.me_qianbao_list b{ font-size:1.3em;}
.me_qianbao_list .ky{ color:#22ac38;}
.me_qianbao_list .dj{ color:#898989;}
.me_qianbao_list .yt{ color:#ea5514;}
.me_qianbao_list li{ overflow:hidden;border-bottom:#f1f2f2 solid 1px; padding:1em 2em 1em 1em; position:relative; color:#333;}
.me_qianbao_list li:after{ content:''; position:absolute; right:10px; width:18px; height:18px; background:url(../images/icon.png) -51px -409px; background-size:250px; top:50%; margin-top:-9px;}
.me_qianbao_list h2{ background:#f7f8f8; border-bottom:#f1f2f2 solid 1px; padding:.3em 1em; color:#999; font-weight:normal; font-size:.9em; overflow:hidden; clear:both;}
.me_qianbao_list span{ display:block; float:left; width:25%; text-align:center;}
.me_qianbao_list li span:nth-of-type(1){ font-size:.8em;}
.me_qianbao_list li:nth-of-type(2n+0){ background:#fafafa;}
/*自定义配置*/
.zidingyi_list li{ overflow:hidden; border-bottom:#f1f2f2 solid 1px; padding:1em; position:relative; color:#333;}
.zidingyi_list li .logo{ width:80px; margin-right:5px; float:left;}
.zidingyi_list li .logo img{ width:100%; display:block;}
.zidingyi_list li a{ color:#00a0e9; margin-left:10px;}
.zidingyi_list h2{ background:#f7f8f8; border-bottom:#f1f2f2 solid 1px; padding:.3em 1em; color:#999; font-weight:normal; font-size:.9em;}
.chk_4 {display: none;}
.chk_4 + label {background-color: #FFF;padding: 11px 9px;border-radius:20px;display:block;position: relative;background: #b5b5b6;width: 58px;height: 10px;}
.chk_4 + label:before {content: ' ';position: absolute;background: #FFF;top: 0px;z-index: 99999;left: 0px;width:32px;color: #FFF;height: 32px;border-radius:50%;box-shadow: 0 0 1px rgba(0,0,0,0.6);}
.chk_4 + label:after {content: 'OFF';	position: absolute;top:6px;left: 37px;font-size:.9em;color: white;font-weight: bold;left: 8px;border-radius: 100px;}
.chk_4:checked + label {background: #2ea7e0;}
.chk_4:checked + label:after {content: 'NO';left:18px;}
.chk_4:checked + label:before {content: ' ';position: absolute;z-index: 99999;left:44px;}
.chk_4 + label:after {left: 35px;	}	
.chk_4 + label:after,.chk_4 + label:before,.chk_4 label {	-webkit-transition: all 0.1s ease-in;transition: all 0.1s ease-in;}
.zidingyi_list .ri input{ border:#cfcfcf solid 1px; text-align:right; padding:0 .3em;}
.zidingyi_list .ri select{ border:#cfcfcf solid 1px;}
.zidingyi_list .ri .scfj{ height:30px; line-height:30px; font-size:.9em; display:block; background:#2ea7e0; border-radius:15px; color:#FFF; padding:0 .5em;margin-top: 25px;}
.zidingyi_list .ri .scfj:before{ display:inline-block; content:""; width:15px; height:15px; background:url(../images/icon.png) -212px -105px; background-size:255px; vertical-align:middle;}
/*商户后台*/
.shanghu_list li{ overflow:hidden; border-bottom:#f1f2f2 solid 1px; display:-webkit-box; padding:1em; position:relative; color:#333;}
.shanghu_list h2{ background:#f7f8f8; border-bottom:#f1f2f2 solid 1px; padding:.3em 1em; color:#999; font-weight:normal; font-size:.9em;}
.shanghu_list .fl{ float:none; width:65px;}
.shanghu_list .ri{ float:none; -webkit-box-flex:1;}
.shanghu_list .ri input,.shanghu_list .ri select,.shanghu_list .ri textarea{ border:#cfcfcf solid 1px; text-align:right; padding:0 .3em; width:100%; -webkit-box-sizing:border-box;}
.shanghu_list .ri .scfj{ height:30px; line-height:30px; font-size:.9em; display:inline-block; background:#2ea7e0; border-radius:15px; color:#FFF; padding:0 .5em;}
.shanghu_list .ri .scfj:before{ display:inline-block; content:""; width:15px; height:15px; background:url(../images/icon.png) -212px -105px; background-size:255px; vertical-align:middle;}
.scfj_img{ padding-top:.5em; overflow:hidden;}
.scfj_img span{ display:block; width:80px; height:80px; float:left; margin-right:10px; position:relative;}
.scfj_img span img{ width:100%; display:block;}
.scfj_img span em{ position:absolute; width:20px; height:20px; right:-8px; top:-8px; background:url(../images/icon.png) -549px -154px; background-size:300px;}
.shanghu_list .shanghu_btn{padding:1em;}
.shanghu_list .wid_50{ width:109px !important; font-size:.8em;}

nav{ height:58px; background:#fff; border-top:#efeeee solid 1px; position:fixed; bottom:0px; left:0px; width:100%; display:-webkit-box;}
nav a{ display:block; -webkit-box-flex:1; text-align:center; font-size:.8em; padding:.5em 0;}
.nav_xxts{ position:absolute; background:#e60012; color:#FFF; border-radius:50%; min-width:20px; height:20px; line-height:20px; text-align:center; top:-5px; right:0px; font-size:.8em;}
nav em{ display:block; width:50px; height:25px; margin:auto; position:relative; background-image:url(../images/icon.png); background-repeat:no-repeat; background-size:270px;}
nav .nav_xx{ background-position:-97px 4px;}
nav .nav_yy{ background-position:-98px -41px;}
nav .nav_fx{ background-position:-99px -90px;}
nav .nav_wd{ background-position:-98px -136px;}
nav .this{ background:#2ea7e0; color:#FFF;}
nav .this .nav_xx{ background-position:-40px 4px;}
nav .this .nav_yy{ background-position:-40px -41px;}
nav .this .nav_fx{ background-position:-40px -90px;}
nav .this .nav_wd{ background-position:-40px -136px;}
