{template 'common/header'}
<ul class="nav nav-tabs">
	<li  class="active"><a>佣金管理</a></li>
</ul>
    <div class="main">
		<div class="stat">
			{if empty($id)}
			
			{else}
			<form action="">
				<input type="hidden" name="act" value="module" />
				<input type="hidden" name="name" value="broke" />
				<input type="hidden" name="do" value="customer" />
				<input type="hidden" name="op" value="mycustomer" />
				<input type="hidden" name="id" value="{$id}" />
				<table class="table sub-search">
				<table class="table sub-search">
					<tbody>
						<tr>
							<th style="width:100px;">真实姓名</th>
							<td>
								<input name="realname" type="text" value="{$sort['realname']}" />
							</td>
						</tr>
						<tr>
							<th style="width:100px;">手机号码</th>
							<td>
								<input name="mobile" type="text" value="{$sort['mobile']}" />
							</td>
						</tr>
						<tr>
							<th></th>
							<td>
								<input type="submit" name="" value="搜索" class="btn btn-primary">
							</td>
						</tr>
					</tbody>
				</table>
			</form>
			{/if}
			<div class="stat-div">
				<div class="navbar navbar-static-top">
					<div class="navbar-inner">
						<span class="brand">未结佣金名单</span>
					</div>
				</div>
				<div class="sub-item" id="table-list">
					<h4 class="sub-title" style="float:right;color:red;"><a href="">刷新</a></h4>
					<h4 class="sub-title">未结佣金</h4>

					<form action="" method="post" onsubmit="">
					<div class="sub-content">
						<table class="table table-hover">
							<thead class="navbar-inner">
								<tr>
								    <th class="row-hover">未结总佣金</th>
									<th class="row-hover">操作</th>
								</tr>
							</thead>
							<tbody>
								
								<tr>
									<td style="text-align: center;">
										{$tjcommission}
									</td>
						
									<td style="text-align: center;">
										<a href="{php echo $this->createWebUrl('customer');}">查看</a>		
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
					</form>
					{$pager}
				</div>
			</div>
			<!--
			<div class="stat-div">
				<div class="navbar navbar-static-top">
					<div class="navbar-inner">
						<span class="brand">预约名单</span>
					</div>
				</div>
				<div class="sub-item" id="table-list">
					
					<h4 class="sub-title">预约佣金</h4>

					<form action="" method="post" onsubmit="">
					<div class="sub-content">
						<table class="table table-hover">
							<thead class="navbar-inner">
								<tr>
								    <th class="row-hover">预约总佣金</th>
									<th class="row-hover">操作</th>
								</tr>
							</thead>
							<tbody>
								
								<tr>
									<td style="text-align: center;">
										{$yycommission}
									</td>
								
									<td style="text-align: center;">
										<a href="{php echo $this->createWebUrl('customer');}">查看</a>		
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
					</form>
					{$pager}
				</div>
			</div>
			-->
			<div class="stat-div">
				<div class="navbar navbar-static-top">
					<div class="navbar-inner">
						<span class="brand">已结佣金名单</span>
					</div>
				</div>
				<div class="sub-item" id="table-list">
					
					<h4 class="sub-title">已结佣金</h4>

					<form action="" method="post" onsubmit="">
					<div class="sub-content">
						<table class="table table-hover">
							<thead class="navbar-inner">
								<tr>
								    <th class="row-hover">已结总佣金</th>
									<th class="row-hover">操作</th>
								</tr>
							</thead>
							<tbody>
								
								<tr>
									<td style="text-align: center;">
										{$yjcommission}
									</td>
								
									<td style="text-align: center;">
										<a href="{php echo $this->createWebUrl('member');}">查看</a>		
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
					</form>
					{$pager}
				</div>
			</div>
		</div>
    </div>

<link type="text/css" rel="stylesheet" href="./resource/style/daterangepicker.css" />
<script type="text/javascript" src="./resource/script/daterangepicker.js"></script>
<script>
$(function() {
	$('#date-range').daterangepicker({
		format: 'YYYY-MM-DD',
		startDate: $(':hidden[name=start]').val(),
		endDate: $(':hidden[name=end]').val(),
		locale: {
			applyLabel: '确定',
			cancelLabel: '取消',
			fromLabel: '从',
			toLabel: '至',
			weekLabel: '周',
			customRangeLabel: '日期范围',
			daysOfWeek: moment()._lang._weekdaysMin.slice(),
			monthNames: moment()._lang._monthsShort.slice(),
			firstDay: 0
		}
	}, function(start, end){
		$('#date-range .date-title').html(start.format('YYYY-MM-DD') + ' 至 ' + end.format('YYYY-MM-DD'));
		$(':hidden[name=start]').val(start.format('YYYY-MM-DD'));
		$(':hidden[name=end]').val(end.format('YYYY-MM-DD'));
	});
	$('#date-range1').daterangepicker({
		format: 'YYYY-MM-DD',
		startDate: $(':hidden[name=start1]').val(),
		endDate: $(':hidden[name=end1]').val(),
		locale: {
			applyLabel: '确定',
			cancelLabel: '取消',
			fromLabel: '从',
			toLabel: '至',
			weekLabel: '周',
			customRangeLabel: '日期范围',
			daysOfWeek: moment()._lang._weekdaysMin.slice(),
			monthNames: moment()._lang._monthsShort.slice(),
			firstDay: 0
		}
	}, function(start, end){
		$('#date-range1 .date-title').html(start.format('YYYY-MM-DD') + ' 至 ' + end.format('YYYY-MM-DD'));
		$(':hidden[name=start1]').val(start.format('YYYY-MM-DD'));
		$(':hidden[name=end1]').val(end.format('YYYY-MM-DD'));
	});

});
</script>
{template 'common/footer'}