<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<title>提交信息</title>
	<link rel="stylesheet" type="text/css" href="{php echo IMS_VERSION>=0.6?"../addons":"./source/modules"}/bm_floor/template/images/index.css" media="all">
	<script>
			{if $url<>''}
			window.location.href="{$url}" 
			{/if}
	</script>	
</head>
<body>
</body>
</html>
