<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>家对过微信平台</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" />
	<meta name="format-detection" content="telephone=no" />
	<meta content="email=no" name="format-detection" />
	<link href="./source/modules/wmb_goshare/template/mobile/global.css" rel="stylesheet" />
</head>
<body style="background: #f2f2f2;">
	<div style="margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px;">
		<div class="b_img">
			<img class="b_img_i" src="../addons/wmb_goshare/template/mobile/logo.png">
		</div>
		<p class="container_p">
			家对过微信团队秉承"让在小的个体，都有自己的品牌”为团队宗旨，专注于为中小型企业商家提供丰富的微信推广及营销方案。
		</p>
		<p class="container_p2">
			
            业务咨询：王先生
		</p>
		<p class="container_p3">
			
            垂询热线：13770778444
			<a class="act_rule_phone" href="tel:13770778444"><span class="act_rule_phone_img"></span>直接拨打</a>
		</p>
		<p class="container_p3">
			
            地址：南京市秦淮区瞻园路126-27号3楼
		</p>
	</div>
</body>
</html>
