{template 'common/header'}
<div class="main">
	<form class="form-horizontal form" id="" action="" method="post">
		<div class="panel panel-default">
			<div class="panel-heading">
				设置
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">初始玩家数</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="subscribe_num" type="text" value="{$subject['subscribe_num']}">
					</div>	
				</div>	
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">技术支持</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="subscribe_skill" type="text" value="{$subject['subscribe_skill']}">
					</div>	
				</div>				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">引导关注素材链接</label>
					<div class="col-sm-9 col-xs-12">
						<input class="form-control" name="subscribe_url" type="text" value="{$subject['subscribe_url']}">
					</div>	
				</div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4 col-md-3 col-lg-2 control-label">分享到朋友圈图片</label>
                    <div class="col-sm-8 col-xs-12">
                       {php echo tpl_form_field_image('photo',$subject['photo']);}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label>
                    <div class="col-sm-9 col-xs-12">
                        <div class="help-block">分享到朋友圈图片</div>
                    </div>
                </div>				
			</div>
		</div>

		<div class="form-group col-sm-12">
			<input name="token" type="hidden" value="{$_W['token']}" />
			<input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" />
		</div>
	</form>
</div>

<script language='javascript'>
require(['jquery', 'util'], function($, u) {
	$(function() {

	});
});
</script>
{template 'common/footer'}
