<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>{$wcfg['title']}</title>
    <script type="text/javascript">
    	var type = "sale";
    </script>
    <link rel="stylesheet" type="text/css" href="{RES}wstyle/global.css"/>
    <script type="text/javascript" src="{RES}wjs/zepto.min.js" ></script>
    <script type="text/javascript" src="{RES}wjs/global.js"></script>
    <!--<script type="text/javascript" src="{RES}wjs/salelist.js"></script>-->
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
</head>
<body>
	<input type="hidden" id="region">
	<input type="hidden" id="price">
	<input type="hidden" id="room">
	<input type="hidden" id="area">
	<input type="hidden" id="useage">
	<input type="hidden" id="year">
	<input type="hidden" id="order">
	<input type="hidden" id="keyword" value="">
	<input type="hidden" id="buildId" value="">
	<input type="hidden" id="type" value="sale">
	<input type="hidden" id="offset" value="1">
	<div class="logo">
        <img src="{RES}wimages/logo.jpg" height="30px" width="80px"/>大学生活，老乡相伴！！
    </div>  
    <!--section id="searchWarp">
        <div class="searchWarp">
            <form method="get" action="" id="smartbox_form">
                <div class="searchBg">
                	<input type="hidden" name="cityId" value="233">
                    <input id="search_input" type="text" name="keyword" autocorrect="off" length="20" autocomplete="off" autocapitalize="off" placeholder="姓名/昵称" value="">
                    <div style="position:absolute;right:0;top: 3px;height: 25px;width:80px;">
                        <img src="{RES}wimages/clear_03.png"  id="clear" style="width: 14px; height: 14px; top: 4px; left: 20px; float: left; position: absolute; display: none;">
                        <input type="submit" name="" value="" id="search_btn">
                    </div>
                </div>
            </form>
            <div id="smartBox" style="display: none; width: 1897px; ">
                <ul></ul>
            </div>
        </div>
    </section-->
	<div class="warp">
	<article>
	    <section>
	        <div class="searchCriteria">
	            <ul id="criteriaList">
	            	<li id="filtrateQX"><p><span data-value="" data-category="region">不限</span><span data-value="1" data-category="region">同省</span><span data-value="2" data-category="region">同市</span><span data-value="3" data-category="region">同县/区</span></p><strong>地区</strong></li>

	            	<li><p><span data-value="" data-category="price">不限</span><span data-value="1" data-category="price">男</span><span data-value="2" data-category="price">女</span></p><strong>性别</strong></li>
	            </ul>
				<br>
	        </div>
	    </section>
	</article>
	<div id="searchHeader">
		<div class="resultWarp">
            <!--h5 id="search_result_num"> <label id="total" style="color:#FF9600;"></label></h5-->
                <span>
                    <select id="search_condition_order">
                        <option value="" selected="selected">默认排序</option><option value="1">每日最先进入降序</option><option value="2">聊天次数从高到低</option>
                    </select>
                </span>
	     </div>
	</div>
	
<article>
    <section>
        <div class="newHouseList" id="newHouseList">
            <div class="orderNone" style="display: none; width: 100%;" id="orderNone">
                <p>没有找到与"<span class="red" id="searchcondition"></span>"相符的老乡！<br>建议您检查您输入的关键字是否有误</p>
            </div>
			 {loop $all $row}
			<div class="linked">
			      <div class="item">
			        <a href="{php echo $this->createMobileUrl('chat',array('toopenid'=>$row['openid']))}">
			      <div class="li-item">
							  <div class="img"><img src="{$_W['attachurl']}{$row['avatar']}"></div>
							  <div class="w_100">
								 <h3>姓名：{$row['username']}</h3>
								 <div class="intro">
									 <p>家庭地址：{$row['province']}{$row['city']}{$row['area']}</p>
									 <p>联系方式：{$row['phone']}</p>
									 <p>专业班级：{$row['banji']}</p>
									 <p>注册时间：{php echo date('Y-m-d', $row[createtime]);}</p>	
									
									 
								 </div>
							  </div>
			     </div>
			       </a>
			    </div>
			</div>
			{/loop}
        </div>
        <div class="loading" style="display:none" id="loadingPic">
			<img src="{RES}wimages/loading.gif" >
			<span>正在加载</span>
		</div>
		<div id="back_top" style="display: none"></div>
    </section>
</article>
</div>
<script>
    	var cityId = "233";
    	$(function(){
    		var smartBoxSale = new classSmartBox('sale');
    		smartBoxSale.initController();
    		$("#back_top").click(function(){
				window.scrollTo(0,0);  
			});
    	});
    
    	window.onscroll = function() { 
    		if(window.scrollY>300){
    			//显示滚动
    			$("#back_top").css("display","block");
    		}else{
    			//隐藏滚动
    			$("#back_top").css("display","none");
    		}
		} 
		var _search;
var condition = new Dictionary();
$(function(){
	var winheight = $(document).height();
	$('.showBg,.show_bg').css('height',winheight);
	//下拉切换
	dropList();
	searchClick();
	orderChange();
	handDrop();
	liDrop();
	
	var keyword = $.trim($("#keyword").val());
	var buildId = $.trim($("#buildId").val());
	if(keyword != ""){
		condition.put("keyword",keyword);
	}
	if(buildId != ""){
		condition.put("buildId",buildId);
	}
});


function dropList(){
	$("#listMore").click(function(){
		var nowClass = $(this).attr("class");
		if(nowClass == "down"){
			$(this).removeClass("down").addClass("up");
			$("#listMore .txt").html("收起更多查询条件");
			$(".drop").css("display","block");
		}else{
			$(this).removeClass("up").addClass("down");
			$("#listMore .txt").html("展开更多查询条件");
			$(".drop").css("display","none");
		}
	});
}


function searchClick(){
	var firstLiId = $('#criteriaList li').eq(0).attr('id');
    //绑定筛选条件
    $('#criteriaList span').click(function(){
    	var _this     = $(this);
    	var dataCategory = _this.attr("data-category");
    	var _parent   = _this.parent();
    	var _pparent  = _parent.parent();
    	var aSpan     = _parent.find('span');
    	var firstNode = aSpan.eq(0);
    	if (_this.text() == firstNode.text()) {
            return false;
        }
    	condition.put(dataCategory,_this.text());
    	//重置offset
    	$("#offset").val("1");
    	//给hidden域设置值
        var value = _this.attr("data-value");
        var category = _this.attr("data-category");
        $("#"+category).val(value);
    	
    	var flagRemove = false;
    	if(aSpan.filter('.hide').length>0)
		{
    		flagRemove = true;
		}
        
        var cNode = _this.clone(true);
        aSpan.attr('class','');
        _this.attr('class','hide');
        
        firstNode.before(cNode);
        
        if(flagRemove)
    	{
        	firstNode.remove();
    	}
        
        if(!window.flagInit)
        {
       	 	searchData(true);
        }
        
        var cssHeight = '28px';
        if(firstLiId==_pparent.attr('id'))
    	{
        	cssHeight = '56px';
    	}
        
        _pparent.css("height",cssHeight);
        _pparent.find('em').attr('class','arrowDown');
        
    });
}


function orderChange(){
	$("#search_condition_order").change(function(){
		$("#order").val($(this).val());
		//重置offset
    	$("#offset").val("1");
		searchData(true);
	});
}


function searchData(flag){
	
	var region = $("#region").val();
	var price = $("#price").val();
	var room = $("#room").val();	
	var area = $("#area").val();
	var useage = $("#useage").val();
	var year = $("#year").val();
	var offset = $("#offset").val();
	var order = $("#order").val();
	var keyword = $("#keyword").val();
	var buildId = $("#buildId").val();
	
	$("#loadingPic").css("display","block");
	
	//alert("region "+region + "  price "+price+"  room " +room+"  area "+area +"   useage "+useage+ "   year  "+year+"   offset "+offset+"  order "+order);
$.post("{php echo $this->createMobileUrl('check');       }",{"action":type,"region":region,"price":price,"room":room,"area":area,"useage":useage,"year":year,"offset":offset,"city":cityId,"order":order,"keyword":keyword,"buildId":buildId},function(retStr){
		//retStr = retStr.replace(/^\s*/gi,"").replace(/\s*$/gi,"");
		window.flagRequesting = false;
		$("#loadingPic").css("display","none");
		if(retStr == ""){
			//请求结果为空有两种情况,一种是选择条件后没有搜索到数据,第二种是下拉加载没有更多数据
			if($("#offset").val()>1){
				//没有更多数据了
//				$("#show_tips .show_tips p").text("没有更多数据了");
//				$("#show_tips").show();
			}else{
				$("#newHouseList .linked").remove();
				$("#total").html("0").css("color","#818181");
				$("#searchcondition").html(createCondition());
				$("#orderNone").css("display","block");
			}
		}else{
			//是否需要清空现在数据的两种情况,有条件切换,要清空,其他直接append
			if(flag){
				$("#newHouseList .linked").remove();
			}
			$("#orderNone").css("display","none");
			//var ret = JSON.parse(retStr);
			$("#newHouseList").append(retStr);
			//$("#total").html(ret.total).css("color","#FF9600");
		}
	});
}



function handDrop(){
	window.flagRequesting = false;
    $(window).on("scroll",function(){
        var sTop = parseFloat(window.screen.height) + parseFloat(document.body.scrollTop),
        bodyH = parseFloat($("body").height());
        if(sTop >= bodyH) {
            if(window.flagRequesting)
            {
                return;
            }
            //正在加载图片
            //this.loadingpic.show();
            window.flagRequesting = true;
            var nowOffset = $("#offset").val();
            $("#offset").val(parseInt(nowOffset)+1);
            searchData(false);
        };
    })
}

//点击li展示更多选项
function liDrop(){
	$("#criteriaList em").click(function(){
		var nowClass = $(this).attr("class");
		if("arrowDown" == nowClass){
			$(this).attr("class","arrowUp");
			$(this).parent("li").css("height","auto");
		}else{
			$(this).attr("class","arrowDown");
			if($(this).prev().html() == "区域"){
				$(this).parent("li").css("height","56px");
			}else{
				$(this).parent("li").css("height","28px");
			}
		}
	});
}

function createCondition(){
	var keyArr = ["region","price","room","area","useage","year","keyword"];
	var conditionStr = '';
	for(var i=0;i<keyArr.length;i++){
		if(condition.get(keyArr[i]) != "undefined" && condition.get(keyArr[i]) != undefined && condition.get(keyArr[i]) != "不限"){
			conditionStr += " " + condition.get(keyArr[i]);
		}
	}
	return conditionStr.trim();
}

function jumpCityMap(){
	window.location.href = "http://wap.haofang.net/citylist.jsp";
}



    </script>
</body></html>









