{template 'common/header'}

<div class="main">
	
<style>
.label{cursor:pointer;}
</style>
<div class="panel panel-default">
	<div class="panel-body table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:50px;"></th>
					<th style="width:300px;">参与者</th>
					<th style="width:200px;">得分</th>
					<th style="width:200px;">排名</th>
					<th style="text-align:right; min-width:300px;">操作</th>
				</tr>
			</thead>
			<tbody>
				{loop $records $key $vip}
				<tr>
					<td></td>
					<td><span class="text-info"><a href="{php echo url('mc/member/post', array('uid'=>$vip['user']['uid']));}"><img src="{if !empty($vip['user']['tag']['avatar'])}{$vip['user']['tag']['avatar']}{else}resource/images/noavatar_middle.gif{/if}" width="48">&nbsp;&nbsp;&nbsp;{$vip['user']['nickname']}</a></span></td>
					<td><span class="text-info">{$vip['score']}</span></td>
					<td><span class="text-info">{php echo ($key+1);}</span></td>
					
					<td style="text-align:right;">
						<a href="{php echo url('mc/notice/tpl', array('id' => $vip['user']['fanid']));}" id="{$vip['user']['fanid']}" class="btn btn-success btn-sm sms">发送消息</a>
					</td>
				</tr>
				{/loop}
			</tbody>
			
		</table>
	</div>
	</div>
</div>

{template 'common/footer'}
