<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="telephone=no" name="format-detection">
    <title>{$weibb['title']}</title>
    <link href="../addons/weihaom_wb/style/css/style1.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page-load-container" style="min-height: 771px; opacity: 1;">
    <div class="page-load-page ranking-page" style="min-height: 771px;">
        <div class="ranking-body" style="padding-top:0px;">
            <div class="ranking-banner">
                <img src="../addons/weihaom_wb/images/ranking-banner.jpg" border="0" alt="">
                <span class="ranking-banner-text">{$str}</span>
                <span class="ranking-time"></span>
                <a target='_blank' class="to-index-button" href="{php echo $this->createMobileUrl('index', array('rid' => $rid))}#mp.weixin.qq.com#wechat_redirect">返回<br>游戏</a>
            </div>
            <div class="ranking-list">
                <div class="tr">
                    <div class="th th1">名次<span class="arrow arrow-bottom"></span></div>
                    <div class="th th2">姓名<span class="arrow arrow-bottom"></span></div>
                    <div class="th th3">最高分<span class="arrow arrow-bottom"></span></div>
                </div>
                {php $num=1}
                {loop $users $user}
                <div class="tr">
                    <div class="td td1 r{$num}"></div>
                    <div class="td td2">
                        <div class="user-head ellipsis">
					        <span class="week-crown"></span>
                            {$user['realname']}
                        </div>
                    </div>
                    <div class="td td3">{$user['score']}</div>
                </div>
                <div class="tr">
                    <div class="td"></div>
                    <div class="td"></div>
                    <div class="td"></div>
                </div>
                {php $num++}
                {/loop}
            </div>
        </div>
        <div class="power-by">
            @{$_W['account']['name']}
        </div>
    </div>
</div>

{php echo register_jssdk();}

<script type="text/javascript">
    // 踩白块分享
    wx.ready(function () {
        sharedata = {
            title: "{$set['title']}",
            desc: "{$set['description']}",
            link: "{$_W['siteurl']}",
            imgUrl: "{php echo tomedia($set['cover']);}"
        };
        wx.onMenuShareAppMessage(sharedata);
        wx.onMenuShareTimeline(sharedata);
    });
</script>


</body>
</html>