<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<meta content="" name="pgv">
<title>{$systeminfo['shopname']}</title>
<style type="text/css">
  body {
      background: #fff;
      font-size: 14px;
      color: #777;
      padding: 6px;
    }
    a {
      color: #F7BA5B;
    }
    h3 {
      text-align: center;
    }
    p {
      line-height: 22px;
      text-align:justify;
      margin-top: 0;
    }
    .blue-color {
      color: #65c3ed;
      margin-bottom: 5px;
    }
</style>
</head>
<body>
  <h3 style="padding-bottom: 10px;text-align:left;border-bottom:1px dashed #ddd;margin-top:0">Q&A 常见问题</h3>
<p class="blue-color">请问如何下单？</p>
<p>答： 您好，请您微信关注天天洗衣公众帐号（213）或扫描天天洗衣二维码安装天天洗衣APP,然后点击一键下单即可。</b></p>
<p class="blue-color">天天洗衣洗衣服如何收费？</p>
<p>答：您好，您可以选择按袋洗？？元/袋， 也可按件清洗，详细价格请在首页【价目】页面中进行查询。</p>
<p class="blue-color">你们目前服务的区域都有哪些，收取快递费么？  </p>
<p>答： 您好，我们是免费上门取送衣物的，全国目前开通的区域为：北京、天津、上海、深圳四个城市，具体服务范围请在首页【服务范围】中查看。</p>
<p class="blue-color">我下单以后几天能够洗好？</p>
<p>答：您好，正常 72小时送回，清洗好后，我们会与您沟通送回时间。</p>
<p class="blue-color">我的衣服拿到哪儿洗啊？ </p>
<p>答：您好，北京：我们有o2o示范中心，严格按着15道工艺流程来清洗。其他城市由调度中心统一调度，就近分配到我们附近的伊尔萨店面进行清洗。</p>
<p class="blue-color">我的衣服洗好也是装在袋子里送回么？</p>
<p>答：您好，天天洗衣衣物清洗完毕后，是采用挂送的方式将衣物送回，您所使用的袋子，也将一同送回，供您下次使用。</p>
<p class="blue-color">如果是按袋洗衣，我怎么才能知道我袋子里到底装了多少衣服？</p>
<p>答：您好，按袋洗衣，天天洗衣拆开洗衣袋铅封时是在指定的“进厂登记摄像区”完成，然后对袋内衣物进行核对数量及复检，将衣服信息通过微信方式推送给您。</p>
<p class="blue-color">天天洗衣服务与去洗衣店清洗有何区别？ </p>
<p>答：您好，天天洗衣是按袋计费的收费方式？？元/袋，另外还有按件计费的收费方式，天天洗衣服务不用到店面,我们提供取送服务。</p>
<p class="blue-color">按袋洗衣什么衣服都可以清洗么？</p>
<p>答：皮衣，奢侈品，医用医物，婚纱，鞋包以及窗帘家纺等清洗。</p>
<p class="blue-color">天天洗衣衣物清洗的时候也是所有衣服都放在一个袋子里洗么？</p>
<p>答：您好，我们会依据纺织面料不同，进行专业洗前干水洗分类，严格按着清洗作业流程进行清洗。</p>
<p class="blue-color">洗衣联网卡和单店储值卡可以用于支付天天洗衣吗?</p>
<p>答：您好，洗衣联网卡和单店储值卡目前只能到指定门店消费，建议您咨询店面。</p>
<p class="blue-color">用你们的服务怎么支付费用呢？</p>
<p>答：您下单以后会有取件员上门取件，清点您的衣物核算价格生成订单详情，您可以选择微信支付、会员卡支付、现金支付或者优惠券支付。</p>
<div style="display:none">
	统计
</div>
</body>
</html>
 
