<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<meta content="" name="pgv">
<title>{$systeminfo['shopname']}</title>
<link href="./source/modules/eorder/template/css/footer.css" rel="stylesheet" type="text/css">
<link href="./source/modules/eorder/template/css/base.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="./source/modules/eorder/template/css/card.css" media="all">
<link href="./source/modules/eorder/template/css/wap.css" rel="stylesheet" type="text/css">
<link href="./source/modules/eorder/template/css/myOrder.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="./source/modules/eorder/template/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="./source/modules/eorder/template/js/page.js"></script>
<script type='text/javascript' src="./source/modules/eorder/template/js/touchslider.min.js"></script>
<script type='text/javascript' src="./source/modules/eorder/template/js/klass.min.js"></script>
<script type='text/javascript' src="./source/modules/eorder/template/js/photoswipe.jquery-3.0.5.min.js"></script>
<script type='text/javascript' src="./source/modules/eorder/template/js/jsAddress.js"></script>
</head>
<body>
<div class="channel-nav two-nav ">

    <ul>
       <li class=""><a href="{php echo $this->createMobileUrl('zaixianchong', array())}">在线充值</a></li>
      <li class="active"><a href="{php echo $this->createMobileUrl('chongzhi', array())}">充值卡充值</a></li>
    </ul>
 </div>
<div class="cardexplain" style="margin-top:10px">
  <ul class="round ">
  <li class="title mb"><span class="none">充值卡充值</span></li>
      <li class="nob">
        <table width="100%" border="0" cellspacing="0" cellpadding="0"
          class="kuang">
          <tbody>
            <tr>
              <td> 
                <form  action="javascript:;"  method = "POST">
                  <input type = "text" name = "sncode" id = "charge_money" placeholder = "请输入充值卡密码" class="px">
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
  </ul>
  <div class="footReturn">
	<a id="showcard" class=" coupon-btn" href="javascript:void(0)">提交</a>
  </div>
</div>  
<div id="codFloat" style="display:none" class="cod" style="height:60px">
    <div class="wx_mask"></div>
     	<div class="wx_confirm ">
       	 	<div class="wx_confirm_inner" id="wx_confirm_float">
        		<div class="wx_confirm_hd">
           			<div class="wx_confirm_tit" id = "show_mes">fsfdsrfsdrf</div>
         		</div>
        	</div>
    	</div>
  	</div>
 </div>
<script>
	$(document).ready(
		function (){
			$("#showcard").click(
				function(){
					var submitData = {
							sncode : $("#charge_money").val().trim()
					};
				if($("#charge_money").val().trim() == ""){
					alert_1("请输入充值卡密码");
					return false;
				}
				$.post("/",submitData,
						function (data){
							if(data.message.state == 1){
								alertToUrl(
									data.message.msg,
									"/");
							}else{
								alert_1(data.message.msg);
							}
				},"json")
		});
	});
	$("#windowclosebutton").click(function() {
		$("#windowcenter").slideUp(500);

	});
	$("#alertclose").click(function() {
		$("#windowcenter").slideUp(500);

	});
	function hide_res(){
    	$("#codFloat").hide();
  	}
  	function show_res(){
    	setTimeout("hide_res()",2000);
 	 }
	function alert_1(title) {
		$("#show_mes").html(title);
    	$("#codFloat").show();
    	show_res();
	}
	function alertToUrl(title, url) {
		if (title == '') {
        	window.location.href = url;
        }else{
       		alert_1(title);
          setTimeout("window.location.href='" + url + "'", 500);
        	//window.location.href = url;
      	}
	}
function check_form_1(){
	var charge_money = $("#charge_money_1").val().trim();
	if(charge_money == ""){
		alert_1("请您输入充值金额");
		return false;
	}else if(charge_money <= 0){
		alert_1("请您正确输入充值金额");
		return false;
	}else if(charge_money > 99999999){
    alert_1("请您输入合理金额")
    return false;
  }
	$("#submit_pay").attr("disabled",true);
}
</script>
<footer>
  <div class="fix-bottom"></div>
    <div class="bottomBox">
        <div class="indexMsg">
            <div class="indexMenu">
                	<a href="{php echo $this->createMobileUrl('index', array())}"><span class=" home-index">首页</span></a>
                	<a href="{php echo $this->createMobileUrl('ordering', array('openid' => $item['id']))}"><span class=" Order-index">订单</span></a>
                	<a href="{php echo $this->createMobileUrl('usercenter', array('openid' => $item['id']))}"><span class="card-index-active">我的</span></a>
              </div>
        </div>
    </div>
</footer>
<div style="display:none">
	
</div>
</body>
</html>