<html lang="en">
 <head>
  <meta charset="utf-8" />
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <meta content="" name="pgv" />
  <title>e袋洗</title>
  <meta content="authenticity_token" name="csrf-param" /> 
  <meta content="YmiQ4Q2rJoqJLMyWxzoL8if9T58ze4mR+krNYjEzi2k=" name="csrf-token" />
  <!--Le HTML5 shim, for IE6-8 support of HTML elements-->
  <!--[if lt IE 9]><script src="http://cdnwww.edaixi.com/javascripts/html5shiv.js"></script><![endif]-->
  <link href="../addons/water_super/template/cssn/mobile-1.css" media="screen" rel="stylesheet" />
  <script src="../addons/water_super/template/jsn/question-1.js"></script>
  <script type="text/javascript">window.onload = function(){
  if(isWeiXin()){
    var orderurl = document.getElementById('orderurl');
    var content = document.getElementById('container');
    orderurl.style.display = "block";
    content.style.marginTop="40px"

  }
}
function isWeiXin(){
    var ua = window.navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i) == 'micromessenger'){
        return true;
    }else{
        return false;
    }
}</script>
 </head>
 <body scroll="no">
  <div id="container">
   <div class="order_weixin" id="orderurl" style="display:none">
    <span class="arrow-left"></span>
    <a class="btn-info fanhui" href="javascript:history.back(-1)"></a>
   </div>
   <style type="text/css">img {
  width: 100%;
}
.font-12px {
  font-size: 0.8em;
}
.blue-style2 {
  color: #1aa4f2;
  padding: 1em 0.9em;
  border-right: 1px solid #6dc9ff;
  line-height: 22px;
}
.blue-bg {
  background: #6dc9ff;
  color: #fff;
 }
h4 {
  background: #6dc9ff;

  font-size: 1.1em;
  font-weight: normal;
  padding: 0;
  color: #fff;
  padding: 6px;
  line-height:22px;
  margin: 0;
  text-align: center;
}
.back-link{


  width: 70px;
  line-height: 34px;
  color: #666;
  background: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
  float: right;
  border-radius: 6px;
  position: fixed;
  right: 10px;
  opacity: 0.9;
  bottom: 10px;
}</style>
   <div class="header tex-cen">
    <h4 style="font-size:0.9em"> 目前开通服务范围：北京、上海、深圳、天津、南京市、武汉、西安、杭州、宁波、苏州、无锡、广州</h4>
   </div>
   <div class="content">
    <div style="height:10px"></div>
    <div class="blue-style2 blue-bg" style="text-align:justify;">
     北京（具体服务范围：五环内全境覆盖；五环外覆盖以下区域：海淀区上地、清河、西二旗地区；昌平区天通苑、回龙观地区；朝阳区北苑、东坝、管庄、双桥、二外、传媒大学地区 ；通州区，通州城区；大兴区黄村&amp;亦庄开发区西区；石景山区古城以东区域；顺义县城；昌平县城；良乡大学城；沙河大学城）
    </div>
    <a href="/pages/beijing_area"><img alt="Beijing map" src="http://cdnwww.edaixi.com/images/page/beijing_map.jpg" /></a>
    <div class="blue-style2 blue-bg" style="text-align:justify;">
     上海（目前开通中环以内）
    </div>
    <a href="/pages/shanghai_area"><img alt="Shanghai picture" src="http://cdnwww.edaixi.com/images/page/shanghai-picture.jpg" /></a>
    <div class="blue-style2 blue-bg" style="text-align:justify;">
     深圳（具体服务区域为：南山区全区；福田区全区；罗湖区全区；宝安区（仅限宝安中心，西乡街道，新安街道，民治街道，龙华街道，福永镇，沙井镇，观澜镇）；龙岗区（仅限龙城街道，龙岗中心城，爱联，南联，陇西，五联，横岗镇，布吉镇，坂田镇）
    </div>
    <a href="/pages/shenzhen_area"><img alt="Shenzhen map" src="http://cdnwww.edaixi.com/images/page/shenzhen_map.jpg" /></a>
    <div class="blue-style2 blue-bg" style="text-align:justify;">
     天津（目前开通南开区、河西区、和平区、红桥区、河北区、河东区）
    </div>
    <a href="/pages/tianjin_area"><img alt="Tianjin" src="http://cdnwww.edaixi.com/images/page/tianjin.jpg" /></a>
    <div class="blue-style2 blue-bg" style="text-align:justify;">
     南京市（具体服务范围：秦淮区（大校场机场以南除外），鼓楼区（建宁路以南））
    </div>
    <a href="/pages/nanjing_area"><img alt="Nanjing" src="http://cdnwww.edaixi.com/images/page/nanjing.jpeg" /></a>
    <div class="blue-style2 blue-bg" style="text-align:justify;">
     武汉（光谷、关山、南湖区域，其它区域除外）
    </div>
    <a href="/pages/wuhan_area"><img alt="Wuhan" src="http://cdnwww.edaixi.com/images/page/wuhan.png" /></a>
    <div class="blue-style2 blue-bg" style="text-align:justify;">
     西安（高新区、莲湖区）
    </div>
    <a href="/pages/xian_area"><img alt="Xian" src="http://cdnwww.edaixi.com/images/page/xian.png" /></a>
    <div class="blue-style2 blue-bg" style="text-align:justify;">
     杭州（具体服务范围：西湖区（东：学院路；南：文三路、文三西路；西：紫金港路；北余杭塘河；））
    </div>
    <a href="/pages/hangzhou_area"><img alt="Hangzhou" src="http://cdnwww.edaixi.com/images/page/hangzhou.jpg" /></a>
    <div class="blue-style2 blue-bg" style="text-align:justify;">
     宁波（具体服务范围：宁波市江东区，世纪大道以西，甬江、奉化江以东，环城南路以北）
    </div>
    <a href="/pages/ningbo_area"><img alt="Ningbo" src="http://cdnwww.edaixi.com/images/page/ningbo.jpg" /></a>
    <div class="blue-style2 blue-bg" style="text-align:justify;">
     苏州（具体服务范围：苏州工业园区（东环路以东，娄江快速以南，星华街以西，独墅湖以北））
    </div>
    <a href="/pages/suzhou_area"><img alt="Suzhou" src="http://cdnwww.edaixi.com/images/page/suzhou.jpg" /></a>
    <div class="blue-style2 blue-bg" style="text-align:justify;">
     广州（开通区域：天河商业区、越秀区（全区开通）、荔湾区（只包含荔湾老城区），其中越秀区和荔湾区是新增开通区域，具体服务范围：珠江以北、环城以西、北环以南，部分白云区除外）
    </div>
    <a href="/pages/guangzhou_area"><img alt="Guagnzhou" src="http://cdnwww.edaixi.com/images/page/guagnzhou.jpg" /></a>
    <div class="blue-style2 blue-bg" style="text-align:justify;">
     无锡（服务范围：崇安区、南长区全覆盖、滨湖区）
    </div>
    <a href="/pages/wuxi"><img alt="Wuxi 2" src="http://cdnwww.edaixi.com/images/page/wuxi_2.jpg" /></a>
   </div>
  </div>
 </body>
</html>