<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<meta content="" name="pgv">
<title>e袋洗</title>
<link rel="stylesheet" type="text/css" href="../addons/water_super/template/cssn/card.css" media="all">
<link href="../addons/water_super/template/cssn/footer.css" rel="stylesheet" type="text/css">
</head>
<body id="card" ondragstart="return false;" onselectstart="return false;">
<div>
	<div class="card" id="icard" style="font-size:0">
		<img src="../addons/water_super/template/imagesn/card-bg.png" class="card-bg-card">
    <h1 class="tex">会员卡号 10162516</h1>

	</div>
</div>

<div class="cardexplain">
	<ul class="round operate navlist" style="border-radius:0 0 10px 10px;border-top:0">
		<li>
        
      <div class="list-titel no-img">
				<img alt=" " src="../addons/water_super/template/imagesn/e_my_icon_wallet@2x.png">余额 
        <b style="color:#ffcc33;font-weight:300" class="no-img">￥0.0</b>
				<a href="mobile.php?m=wap&amp;act=icard&amp;do=icard_charge&amp;status=1" class="link-chongzhi" style="padding:5px 0;">充值</a>
        
      </div>
        
		</li>  
		<li class="mobile-font">
        <a href="mobile.php?m=wap&amp;act=payment&amp;do=coupon_list&amp;">
          <div class="list-titel no-img">						 
    				
    				<img alt="" src="../addons/water_super/template/imagesn/e_my_icon_coupon@2x.png">优惠券
    				<img alt="" src="../addons/water_super/template/imagesn/e_my_icon_next@2x.png" class="icon-right-card">
          </div>
        </a>
		</li>
		<li class="mobile-font">
        
              <a href="mobile.php?m=wap&amp;act=icard&amp;do=bind_icard_show&amp;">
          <div class="list-titel no-img">
            <img alt="" src="../addons/water_super/template/imagesn/e_my_icon_next@2x.png" class="icon-right-card">
            <img alt="" src="../addons/water_super/template/imagesn/e_my_icon_card@2x.png">
            <span style="background:none">绑定实体卡</span>
          </div>
      </a>
            
    </li>
		<li class="mobile-font">
			<a href="mobile.php?m=wap&amp;act=address&amp;do=address_list&amp;">
        <div class="list-titel no-img">
  				<img alt="" src="../addons/water_super/template/imagesn/e_my_icon_address@2x.png">常用地址
  				<img alt="" src="../addons/water_super/template/imagesn/e_my_icon_next@2x.png" class="icon-right-card">
        </div>
      </a>
		</li>
		<li class="mobile-font">
			<a href="mobile.php?m=wap&amp;act=icard&amp;do=show_more&amp;">
        <div class="list-titel no-img">
  				<img alt="" src="../addons/water_super/template/imagesn/e_my_icon_more@2x.png">更多
  				<img alt="" src="../addons/water_super/template/imagesn/e_my_icon_next@2x.png" class="icon-right-card">
        </div>
      </a>
		</li>
	</ul>
</div>
  
    <!-- ／我的订单 -->
    <!-- 页脚导航-->
<footer>
  <div class="fix-bottom"></div>
    <div class="bottomBox">
        <div class="indexMsg">
            <div class="indexMenu">
                	<a href="mobile.php?m=wap&amp;act=homepage&amp;do=index&amp;"><span class=" home-index">洗衣</span></a>
                	<a href="mobile.php?m=wap&amp;act=order&amp;do=order_list&amp;"><span class=" Order-index">订单</span></a>
                	<a href="mobile.php?m=wap&amp;act=icard&amp;do=my_icard&amp;"><span class="card-index-active">我的</span></a>
              </div>
        </div>
    </div>
</footer>

    <!-- 展开与收缩 -->
  
  
</body></html>