<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$systeminfo['shopname']}</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <style type="text/css">
    	body {
    		background: #fff;
    		font-size: 15px;
    		color: #777;
    		padding: 6px;
    	}
    	a {
    		color: #F7BA5B;
    	}
    	h3 {
    		text-align: center;
    	}
    	p {
    		line-height: 22px;
    		text-align:justify;
    	}
    </style>
</head>
<body>
	<div>
		<h3>
			“关于{$systeminfo['shopname']}”使用协议
		</h3>

<p>欢迎访问{$systeminfo['shopname']}网站及相应的手机应用软件，以使用我们提供的产品及服务。{$systeminfo['shopname']}的服务由北京岳来越好Team基于以下服务条款及使用条件而提供。请仔细阅读。我们向您（或称“用户”）提供的服务可能还需要您遵守其他条款及服务准则（包括服务说明及使用帮助等），您应同时予以一并接受。<a href="/"></a></p>

<p>1.{$systeminfo['shopname']}帐户为了使用我们提供的服务，您需要注册一个 {$systeminfo['shopname']}洗衣帐户，帐户名即为您所提供的常用手机号码。通过 {$systeminfo['shopname']}洗衣下发的验证码进行帐户验证成功后，该帐户即可以使用。您可以在帐户中查询到您的订单记录，包括您的取衣日期及取衣地址、洗衣费和运费等记录。如果您使用 {$systeminfo['shopname']}洗衣服务，您应负责维护您的帐户的保密性并限制第三方使用/访问您的计算机或移动设备，并且，您同意对在您的帐户和密码下发生的所有活动承担责任。如果您未满18周岁，您只能在父母或监护人的参与下使用服务。我们保留自行决定终止提供服务、关闭帐户、删除或编辑内容或取消订单的权利。</p>

<p>2.{$systeminfo['shopname']}洗衣服务 用户应了解并知悉，{$systeminfo['shopname']}洗衣是为用户提供洗衣洗鞋，奢饰品养护的服务平台。用户通过 {$systeminfo['shopname']}洗衣服务，在双方之间达成服务协议，并承担相应的权利和义务。如因洗衣不规范造成衣物损坏或取送流程造成用户衣物丢失，用户可直接向 {$systeminfo['shopname']}洗衣追偿， {$systeminfo['shopname']}洗衣将承担服务协议履行的赔偿责任。</p>

<p>3.服务开始和提供 本条款所述“服务订单”，是指 {$systeminfo['shopname']}洗衣接受用户委托，在客户下单成功，取送人员成功领取衣物后表示服务协议正式生效。如服务订单无法履行（例如服务订单下单失败，取送人员未成功取到衣物），我们将与您进行联系。 在 {$systeminfo['shopname']}洗衣履行完毕其与用户达成的服务合同后，用户应当按照双方之间达成的服务协议向 {$systeminfo['shopname']}洗衣支付服务价款。用户可作出相应的评价，以供 {$systeminfo['shopname']}洗衣进一步改进服务。</p>

<p>4.1 {$systeminfo['shopname']}洗衣最新的服务报价和优惠游动，还有各项用户可参考的生活洗衣科普知识公布于 {$systeminfo['shopname']}洗衣服务平台。我们努力使该信息尽可能地真实和准确，但是，我们无法就其内容的准确性、完整性、可靠性作出保证。如果您认为上述信息与真实信息不一致，且您无法接受该不一致的，您可以选择取消订单，并通过客户或服务评价体系通知我们，我们将立即更新发布的信息，并依照相关的管理政策对其作出相应处理。</p>

<p>4.2用户可以在 {$systeminfo['shopname']}洗衣服务平台张贴评论、意见和其他内容，以及提出建议、意见或其他信息，但前提是该等内容须不违反中国现行法律法规及其他规范性文件的要求，不含有非法、淫秽、威胁、诽谤、侵犯隐私、侵犯知识产权或以其他形式对第三方权利构成侵犯。 {$systeminfo['shopname']}洗衣保留清除或编辑这些内容的权利，不对用户所张贴的内容进行经常性的审查。用户声明和保证对于因其所提供内容引起的对 {$systeminfo['shopname']}洗衣的损害进行赔偿。 </p>
<p>4.3如果用户在 {$systeminfo['shopname']}洗衣张贴内容或提交材料，除非我们另行说明，用户同意授予 {$systeminfo['shopname']}洗衣非独有的、免费的、永久的、不可撤销的和完全的再许可权的下述许可：在全世界范围内任何媒体上使用、转载、修改、改编、出版、翻译、创作衍生作品、分发和展示这些内容。</p>

<p>5.隐私{$systeminfo['shopname']}洗衣可能会要求用户提供其手机号码及位置信息等个人信息，以便实现取送，发送衣物明细等重要功能。 {$systeminfo['shopname']}洗衣会尽最大努力对前述用户个人信息进行妥善保管，除征得用户明确同意和法律明确规定外， {$systeminfo['shopname']}洗衣不会向任何第三方提供用户前述信息。</p>

<p>6.软件使用条款 您需要下载 {$systeminfo['shopname']}洗衣提供的手机软件并安装后方得以从手机客户端使用 {$systeminfo['shopname']}洗衣所提供的服务。 {$systeminfo['shopname']}洗衣在此授予您免费的、不可转让的、非独占的全球性个人许可，允许您使用由 {$systeminfo['shopname']}洗衣提供的、包含在服务中的软件。但是，您不得复制、修改、发布、出售或出租我们的服务或所含软件的任何部分，也不得进行反向工程或试图提取该软件的源代码，除非您已获得 {$systeminfo['shopname']}洗衣的书面许可。</p>

<p>7.{$systeminfo['shopname']}洗衣服务所包含或提供的所有内容诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件都是 {$systeminfo['shopname']}洗衣或其内容提供者的财产，受中国和国际版权法的保护。 {$systeminfo['shopname']}洗衣上所提供使用的所有软件都是 {$systeminfo['shopname']}洗衣或其软件供应商的财产，受中国和国际版权法的保护。</p>

 <p>8.商标权利 本网站服务所包含或者提供的图表、标识、网页页眉、按钮图标、文字、服务品名均为 {$systeminfo['shopname']}洗衣的商标、注册商标或商业外观。这些商标或商业外观不得以任何可能引起消费者混淆的方式或任何诋毁或诽谤 {$systeminfo['shopname']}洗衣的方式用于与本网站或其关联公司无关联的任何商品或服务上。未经 {$systeminfo['shopname']}洗衣的书面许可，本网站上的任何内容都不应被解释为以默许或其他方式授予许可或使用本网站上出现的商标的权利。</p>

<p>9.服务的修改和终止  {$systeminfo['shopname']}洗衣始终在不断更改和改进其所提供的服务。 {$systeminfo['shopname']}洗衣可能会增加或删除某项服务功能，也可能暂停或彻底停止某项服务。用户可以随时停止使用 {$systeminfo['shopname']}洗衣的服务， {$systeminfo['shopname']}洗衣也可能随时停止向用户提供服务，或随时对 {$systeminfo['shopname']}洗衣的服务增加或设置新的限制。但是，如果 {$systeminfo['shopname']}洗衣停止某项服务，则在可能的情况下， {$systeminfo['shopname']}洗衣会向用户发出合理的提前通知，并让用户有机会备份和转移其留存在 {$systeminfo['shopname']}洗衣中的信息。 如用户违反其在本服务条款及使用条件中的行为规范的， {$systeminfo['shopname']}洗衣有权随时终止向用户提供所述服务。 {$systeminfo['shopname']}洗衣免于承担因用户本身衣物存在问题所致任何纠纷的赔偿责任。</p>

<p>10.有限责任  {$systeminfo['shopname']}洗衣负责按"现状"和"可得到"的状态向您提供服务。但 {$systeminfo['shopname']}洗衣服务不作任何明示或暗示的保证，包括但不限于 {$systeminfo['shopname']}洗衣服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时， {$systeminfo['shopname']}洗衣也不对其服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、质量、稳定、完整和及时性作出任何承诺和保证。  {$systeminfo['shopname']}洗衣对由于政府行为譬如政策或法规的变更、自然灾害或战争、通讯线路中断、黑客攻击、计算机病毒侵入或发作、电信部门技术调整、因政府管制而造成网站的暂时性关闭等任何影响网络正常运营的不可抗力事件，以及他人蓄意破坏、正常的系统维护、系统升级，或者因网络拥塞而导致本网站不能访问而造成的本网站所提供的信息及数据的延误、停滞或错误，以及使用者由此受到的一切损失不承担任何责任。  {$systeminfo['shopname']}洗衣不对用户所发布信息的保存、修改、删除或储存失败负责。对网站上的非因 {$systeminfo['shopname']}洗衣故意所导致的排字错误、疏忽等不承担责任。  {$systeminfo['shopname']}洗衣有权但无义务，改善或更正本网站任何部分之疏漏、错误。</p>

<p>11.适用法律 您同意本服务条款和使用条件以及您和 {$systeminfo['shopname']}洗衣之间发生的任何争议均适用中华人民共和国法律。</p>

<p>12.争议 有关与您和 {$systeminfo['shopname']}洗衣之间发生的任何形式的争议均应友好协商解决，协商不成的，任一方有权将争议提交北京市人民法院法院诉讼解决。</p>

<p>13.条款修改和可分性 为更好地提供服务并符合相关监管政策，我们可以随时修改上述条款。请您定期查阅本条款。我们会在网页上公布这些条款的修改通知，并列明最近的修改日期。如您不同意我们对相应条款作出的修改，您应立即停止使用 {$systeminfo['shopname']}洗衣所提供的服务。如果本条款中任何一条被视为废止、无效或因任何理由不可执行，该使用条件应视为可分割的且不影响任何其余条款的有效性和可执行性。</p>

<p>14.通讯  {$systeminfo['shopname']}洗衣将通过微信、短信、在本网站上发布通知或其它服务与用户进行联系。您同意我们用这些方式提供给您的所有协议、通知、披露和其他信息是符合相关的法律法规要求的。如果我们以该等形式向您发出信息或者在本网站上发出相关通知，将视为您已收到所有协议、声明、披露和其它信息。  {$systeminfo['shopname']}洗衣在法律允许最大范围内对本协议拥有解释权与修改权。</p>

 

<h3>全国洗染服务纠纷解决办法(试行)</h3>

<p>第一条  为了维护消费者和经营者的合法权益，规范洗染行业经营行为，公平、合理地解决洗染行业的消费争议，依据《中华人民共和国合同法》、《中华人民共和国消费者权益保护法》、《洗染业管理办法》、《洗染业服务经营规范》(SB/T 10624-2011)，结合洗染行业实际情况，制定本办法。</p>

<p>第二条  各地方、各单位可以依据本办法，结合本地区的洗染行业实际情况，会同有关部门制定相应的实施办法或实施细则。</p>

<p>第三条  经营者在经营过程中应遵循诚实信用原则，对消费者提出或询问的有关问题，做出真实明确的答复，不得欺骗和误导消费者。</p>

<p>第四条  经营者不得从事虚假宣传、利用储值卡进行消费欺诈、故意掩饰在加工过程中使衣物损伤的事实等违反法律、行政法规的欺诈（骗）行为。</p>

<p>第五条  经营者应当在营业场所醒目位置上悬挂营业执照，明示服务项目、服务价格以及投诉电话等，接受执法部门及消费者的监督。</p>

<p>第六条  经营者在提供服务时应当根据《洗染服务合约技术规范》(SB/T 10784-2012)的要求与消费者签订服务合约，双方签名确认，合同成立。服务合约应包括：顾客资料，衣物名称、数量、颜色，衣物现状，服务项目，收费价格，送取日期，保管期，洗涤效果，双方约定事宜，争议解决方式等内容。</p>

<p>第七条  经营者在接收衣物时应当对衣物状况进行认真检验，包括提示消费者检查衣袋内是否有遗留物品，特别是饰品、易损、易腐蚀及贵重物品等，将衣物的脏净、破损程度和织物面料质地、性能变化程度以及确实不易洗染或不能除净的牢固性污渍、洗染效果等向消费者说明，确认，并在服务合约中注明。经营者在接收衣物时，若发现服装洗涤标识错误，应及时告知消费者，若消费者坚持按照服装标识洗涤，应在服务合约中注明，明确服务责任。服装在未加工前72小时内若发现漏检情况，必须保持衣物原样，并及时与消费者取得联系，否则所产生的后果由经营者承担。消费者取衣时，应当场检验加工质量，发现漏检质量问题，可保持原标签凭证，在二天之内向经营者提出。</p>

<p>第八条  对因穿着已久，衣领、袖、裤脚、裤裆、臀部磨损较重而未破裂的及虫蛀脱绒的衣物，经营者应主动向消费者讲明，并在收取凭据上注明。否则，若经洗涤加工后破裂，经营者应在协商期限内予以修补，可不予赔偿。若经营者不注明，应退还洗涤费。</p>

<p>第九条  经营者可以根据消费者意愿对高档衣物或具有珍贵价值的衣物实行保值清洗，即由经营者和消费者协商一致做出书面清洗约定，约定保值额、清洗费用（按衣物价值的5%—20%）和服务内容。没有做出书面保值清洗约定的，按普通衣物洗涤和普通衣物赔偿处理，最高不超过2000元。</p>

<p>第十条  因经营者责任，洗后的衣物未能达到《洗染业服务质量要求》（SB/T 10625-2011）的要求，洗后衣物洁净度差、定型不到位等，经营者应予再次加工。经重新加工后仍未达到质量要求的，应退还消费者交付的洗涤费。</p>

<p>第十一条  因经营者责任使衣物洗涤后出现轻微损坏，不在明显部位或修补后不影响外观和穿着价值的，在退回原洗涤费给消费者的同时，建议给予洗涤收费价的3倍补偿。若丢失或因损坏不能穿着的，按洗涤费10-20倍给予赔偿。赔偿后的衣物，如消费者索要，可减少30%的赔偿额，衣物归消费者所有；协商赔偿未能达成一致意见的，可引导消费者寻求相关职能机构解决。对实行保值清洗的衣物，因经营者责任造成损坏、丢失的，或者清洗后直接影响衣物原有形态（质量）而无法恢复的，经营者应当根据与消费者约定的保值额予以赔偿；赔偿后衣物归经营者所有，如消费者索要，可按保价金额70%赔偿；如洗涤后衣物出现质量问题，经过修补仍有穿着价值的，经营者应按消费者保价金额的25%赔偿。</p>

<p>第十二条  因经营者的责任使衣物附件或饰品损坏、丢失，不影响正常穿着的，应作单项配置或赔偿，最高不超过洗衣费的3倍。</p>

<p>第十三条  经营者应按照服装使用标识进行衣物洗染、熨烫等加工；对于服装使用标识不准确而顾客仍然坚持以服装使用标识进行加工的，由于洗涤标识的误导，未能达到洗染质量标准甚至造成损坏的，经营者可以不承担责任。</p>

<p>第十四条  衣物制作及质量不符合国家或行业标准，造成未能达到洗染质量标准的，经质检机构检验证明，经营者可不承担赔偿责任。如消费者提供购衣凭证，经营者应协助消费者向责任方进行索赔。</p>

<p>第十五条  消费者送洗的衣物存在以下情形之一的，经营者不承担赔偿责任：</p>

<p>（一）存在不可预测、有潜在变化的情形：如虫蛀，洗涤后出现掉毛、破损、露底、现洞和破损面积扩大的；羽绒服、棉衣正常洗涤后里料异味外渗，填充物污染面料的；裘皮衣物洗涤后，出现面料反面或者内里填充物污染面料正面等现象的；原有化学腐蚀的及化学补衣，正常洗涤后暴露出来的。</p>

<p>（二）特脏污物处掩盖的顽渍、污渍腐蚀面料，在正常洗涤后明显暴露或破损的。</p>

<p>（三）窗帘经长期晾挂，阳光长期照射造成面料自然脆化，经正常洗涤后出现破损的。</p>

<p>（四）收衣时已注明潜在可能会发生的问题，如：羽绒衣洗后起泡脱胶；不同面料的拼色衣服洗后渗色或搭色等。</p>

<p>第十六条  消费者超过服务合同约定取衣期限30天的，经营者不承担免费保管义务。逾期取衣的，每件衣物逾期一天收取保管费1元，衣物有洗涤质量争议的除外。经营者未能按服务合约期限交付衣物的，则每件衣物逾期一天按1元计付违约金给消费者，有质量争议而在协商过程中的衣物除外。</p>

<p>第十七条  在洗染服务中发生的难以认定的争议问题，经营者和消费者可以约定，送洗染质量鉴定委员会或其它有资质的机构鉴定，鉴定费由送鉴者先行垫付，最终由责任方承担。</p>

<p>第十八条  若发生洗染消费争议，经营者应主动与消费者协商解决，也可以通过当地洗染行业协会、消费者协会协调解决；或向当地行政管理部门申诉或人民法院提出诉讼。</p>

<p>第十九条  本办法如有与国家或地方相关法规及标准相违的，以上述法规和标准为准。</p>


	</div>
	<div style="display:none">
	tongji
</div>
</body>