@charset "utf-8";
/* CSS Document */
/* 轮播图 */
*{margin:0; padding:0; list-style:none; }
body{  font:normal 12px/22px 微软雅黑; background:url(../images/bg6.jpg) no-repeat;}
img{ border:0;  }
a{ text-decoration:none; color:#333;  }

/* 本例子css */
.slideBox{ width:100%; height:230px; overflow:hidden; position:relative; border:1px solid #ddd;  }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:100%; height:230px; display:block;  }

		/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }

/* content */
.content{ padding:0 10px;}
.s1{
	 cursor:pointer; 
	 color:#F00; 
	 font-size:14px; 
	 margin-top:5px;
	 border-bottom:1px dashed #CCC;
}
.s1 a{ color:#F00;}
.s{ cursor:pointer; font-size:14px; margin-top:5px;}
h1{ text-align:center; margin-top:15px; padding-bottom:15px; border-bottom:1px dashed #CCC; color:#0F0;}
.s2{
	 cursor:pointer; 
	 font-size:16px; 
	 margin-top:5px;
	 text-align:center;
}
.s3{ margin-top:10px; margin-bottom:10px;}
h2{ margin-top:15px; color:#F00; font-size:16px;}
.s6{ font-size:15px; padding-top:15px;}


/* wingift */
.win{ padding:0 10px; height:auto; font-size:16px;}
.header{ height:80px;}
.s4{ font-size:24px; color:#F90; float:left; width:80%; text-align:center; margin-top:30px;}
.win img{ float:right;}
.win1{ padding:0 10px; height:40px; width:94%; border:1px solid #0FF; border-radius:5px; line-height:40px;}
.win2{ padding:0 10px; height:40px; width:94%; border:1px solid #0FF; border-radius:5px; line-height:40px; margin-top:10px;}
.win3{ padding:0 10px; height:40px; width:94%; border:1px solid #0FF; border-radius:5px; line-height:40px; margin-top:10px;}
.win4{ padding:0 10px; width:94%; border:1px solid #0FF; border-radius:5px; margin-top:10px; font-size:14px; padding-bottom:20px; color:#00F;}
.win4 h2{}
button{ height:40px; font-size:16px; width:100%; margin:0 auto; border-radius:5px; background-color:#000; border:none; margin-top:20px; color:#FFF;}
button a{ color:#fff;}


/* box */
.box{position:absolute;width:120px;height:auto;z-index:100; color:#fff;padding:1px;}
.box h2{height:25px;font-size:18px;position:relative;padding-left:10px;line-height:25px;color:#fff;}
.box h2 a{position:absolute;left:5px;font-size:18px;color:#fff; float:left;}
.box .list{padding:10px;}
.box .list li{height:24px;line-height:24px;}
.box .list li span{margin:0 5px 0 0;font-family:"微软雅黑";font-size:12px;font-weight:400;color:#ddd;}


#bg{background-color:#000;
	position:absolute;
	z-index:99;left:0;top:0;
	display:none;width:100%;height:100%;
	opacity:0.9;filter: alpha(opacity=90);-moz-opacity: 0.9;}


/* 填写信息 */
.info{
	 width:92%; 
	 height:60px; 
	 line-height:50px; 
	 font-size:16px; 
	 padding-top:20px; 
	 margin:0 auto; 
	 border-bottom:1px dashed #CCC;
}

input{ height:30px; width:80%; border-radius:5px;}
.winn{font-size:14px; padding-left:20px; padding-top:10px; padding-bottom:10px; color:#F00; border-bottom:1px dashed #ccc;}
.zzjj{height:auto;background:url(/addons/wdl_anhao/template/images/bk.png) no-repeat;background-size:100%;}


