{template 'common/header'}
<h1>使用前提</h1>
<p>必须是已认证服务号</p>

<h1>操作说明</h1>
<p>第一步，在“门店管理“中添加门店信息</p>
<p>第二步，在“视频管理“中添加视频信息</p>
<p>第三步，在“二维码管理“中创建二维码信息</p>
<p style="color:red;">第四步，在“回复规则列表“中创建相应的回复规则，其中，’触发关键字‘要与二维码管理中的’关联给关键字‘相一致</p>


<div style="color:green;font-weight:bold;">
<h1>加值服务</h1>

<p>①可批量添加门店信息、二维码信息：当门店或视频信息较多时，单个创建门店信息、二维码信息较慢，使用批量操作则可加快操作</p>
<p>②可自动生成回复规则：当二维码较多时，单个创建回复规则较慢，使用批量操作则可加快操作</p>
<p>③优酷无广告服务：若购买了<a href="http://http://open.youku.com/services/info?serid=1" target="_blank">优酷开放平台</a>的免广告功能，则通过添加优酷账号信息，使得视频中，涉及到优酷视频的，实现无广告播放，而非直接链接到优酷视频页</p>
<p>④在模块的二维码管理中生成的二维码，可在’基础设置‘的’二维码管理‘中查看到，且为’永久型二维码‘。若修改了‘基础设置’的’二维码管理’中指定的二维码的触发关键字，则在模块的二维码管理中，会提示要求‘重新生成’，以对应相应规则，否则扫码时系统不会路由到该模块</p>
<p>⑤二维码扫描次数统计</p>
<p>⑥后期可能还会推出其他服务，一次收费，永久免费升级</p>
<p>加值费用：200元人民币；具体请联系我：QQ,87243435</p><p>折翼天使源码论坛提供该源码</p>
</div>

{template 'common/footer'}
