{template 'common/header'}
<style>
.sub-search input,.sub-search select{margin-bottom:0;}
</style>
	<div class="main">
		<div class="stat">
			<div class="stat-div">
				<div class="navbar navbar-static-top">
					<div class="navbar-inner">
						<span class="brand">中奖名单</span>
					</div>
				</div>
				<div class="sub-item" id="table-list">
					<h4 class="sub-title">详细数据</h4>
					<div class="sub-content">
						<table class="table table-hover">
							<thead class="navbar-inner">
								<tr>
									<th style="width:100px;">中奖楼层<i></i></th>
									<th style="width:150px;">中奖时间<i></i></th>
									<th style="width:150px;">奖品</th>
									<th style="width:100px;">姓名<i></i></th>
									<th style="width:150px;">QQ<i></i></th>
									<th style="width:150px;">手机<i></i></th>
									<th style="width:150px;">ip<i></i></th>
									<th style="width:100px;">状态<i></i></th>
									<th style="width:100px;">操作<i></i></th>																		
								</tr>
							</thead>
							<tbody>
								{loop $list $row}
								<tr>
									<td style="text-align:center;">{$row['floor']}</td>
									<td style="text-align:center;">{php echo date('Y-m-d h:i:s', $row['dateline']);}</td>
									<td style="text-align:center;">{$row['awardname']}</td>
									<td style="text-align:center;">{$row['realname']}</td>
									<td style="text-align:center;">{$row['qq']}</td>
									<td style="text-align:center;">{$row['mobile']}</td>
									<td style="text-align:center;">{$row['ip']}</td>
									<td>
										{if empty($row['status']) || ($row['status'] == 0)}
											<span class="label label-success">奖品未领</span>
										{else}
											<span class="label label-error">奖品已领</span>
										{/if}									
									</td>
									<td>
										{if empty($row['status']) || ($row['status'] == 0)}
											<a href="{php echo create_url('site/module/awardlist', array('name' => 'bmfloor', 'id' => $id, 'wid' => $row['id'], 'status' => 2))}">奖品发放</a>
										{else}
											<a href="{php echo create_url('site/module/awardlist', array('name' => 'bmfloor', 'id' => $id, 'wid' => $row['id'], 'status' => 0))}">取消领奖</a>
										{/if}
									</td>
								</tr>
								{/loop}
							</tbody>
						</table>
					</div>
				{$pager}
				</div>
			</div>
		</div>
	</div>
{template 'common/footer'}
