{if empty($item)}
{php $namesuffix = '-new[(wrapitemid)]';}
{php $itemid = '(itemid)';}
{else}
{php $namesuffix = '['.$item['id'].']';}
{php $itemid = 'superman_floor-item-' . $item['id'];}
{/if}
<div class="alert alert-info reply-market-list">
	<table class="tb reply-news-edit">
		<tr>
			<th>操作：</th>
			<td id="award-inkind">
				<span class="pull-right">{if empty($item)}<a href="javascript:;" onclick="doDeleteItem('{$itemid}')">删除</a>{else}<a href="{php echo create_url('index/module/delete', array('name' => 'superman_floor', 'id' => $item['id']))}" onclick="doDeleteItem('{$itemid}', this.href)">删除</a>{/if}</span>
				<label for="radio_0_{$itemid}" ><input type="hidden" name="award-inkind{$namesuffix}" id="radio_0_{$itemid}" value="0" /> </label>
			</td>
		</tr>
		<tr>
			<th>中奖楼层：</th>
			<td>
				<input type="text" value="{$item['floor']}" style="width:275px;" name="award-floor{$namesuffix}">
				<div class="help-block">请输入中奖楼层数字</div>
			</td>
		</tr>
		<tr>
			<th>奖品名称：</th>
			<td>
				<input type="text" value="{$item['title']}" style="width:275px;" name="award-title{$namesuffix}">
			</td>
		</tr>
		<tr>
			<th>奖品描述：</th>
			<td>
				<textarea style="height:80px;" name="award-description{$namesuffix}" class="span7" cols="70" id="">{$item['description']}</textarea>
			</td>
		</tr>
		<tr>
			<th>内定微信：</th>
			<td>
				<textarea style="height:80px;" name="award-from_user{$namesuffix}" class="span7" cols="70" id="">{$item['from_user']}</textarea>
			</td>
		</tr>		
	</table>
</div>
