{template 'common/header'}
<div class="main">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-heading">
                相册展现方式
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">相册展现方式</label>
                    <div class="col-sm-9 col-xs-12">
                        <label class="radio-inline">
                            <input type="radio" value="1" name="album[listtype]" {if empty($settings['album']['listtype']) || $settings['album']['listtype'] == '1'} checked{/if}> 单行
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="2" name="album[listtype]" {if $settings['album']['listtype'] == '2'} checked{/if}> 双行
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="3" name="album[listtype]" {if $settings['album']['listtype'] == '3'} checked{/if}> 瀑布流
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">顶部图片</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('toppic', $settings['album']['toppic'])}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">顶部图片显示</label>
                    <div class="col-sm-9 col-xs-12">
                        <label class="radio-inline">
                            <input type="radio" name="status" value="1" {if $settings['album']['status']}checked{/if}>显示
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="status" value="0" {if empty($settings['album']['status'])}checked{/if}>不显示
                        </label>
                    </div>
                </div>
            </div>
        </div>
      	<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1"/>
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
  	</form>
</div>
{template 'common/footer'}